<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>입양게시판</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!--css add-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <!-- Bootstrap css -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>

    <!--/css add-->


    <link rel="stylesheet" th:href="@{/adopt/scripts/content.css}"/>


    <title>입양 게시판</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->
<!--add-->
<section class="section position-relative overflow-hidden"
         style="background-image: url(/images/login_bg.png); background-repeat: no-repeat; background-size: cover;top: 95px;">
    <div class="content-wrapper container ">
        <div class="row mt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb default mb-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-muted">홈</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">입양 게시판</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--Start Board-->
<section class="inner-blog section position-relative overflow-hidden" style=" top: 90px; padding-bottom: 90px;">
    <!-- start container -->
    <div class="content-wrapper container ">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="fw-bold">입양 게시판</h2>
                <p class="text-muted">입양을 통해 동물들의 삶을 바꿔주세요</p>
            </div>
        </div>
        <hr class="my-4">
        <section class="flexbox pb-3">
            <div class="container">
                <section class="notice d-flex">
                    <div class="sch-cont">
                        <!--검색-->
                        <div class="input-group" id="adv-search">
                            <form id="searchForm" onsubmit="return false;">
                                <!--                <select id="aniType">-->
                                <!--                    <option value=""></option>-->
                                <!--                    <option value=1>강아지</option>-->
                                <!--                    <option value=2>고양이</option>-->
                                <!--                    <option value=0>기타</option>-->
                                <!--                </select>-->
                                <select id="searchType" class="form-control" style="width: 100px;">
                                    <option value="">전체</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="writer">작성자</option>
                                </select>
                                <input type="text" id="keyword" class="form-control" placeholder="키워드를 입력해 주세요."
                                       style="width: 300px;"/>
                            </form>
                            <button type="button" onclick="findAll(1);" class="btn btn-primary">
                                <span aria-hidden="true" class="glyphicon glyphicon-search">검색</span>
                            </button>
                        </div>

                    </div>
                </section>
            </div>
            <!--board list-->
            <div class="container mt-3">
                <div class="demo-wrapper content-block pb-0">
                    <div class="table data-table">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <!--                <th></th>-->
                                <th>제목</th>
                                <th>작성자</th>
                                <th>등록일</th>
                                <th>조회 수</th>

                            </tr>
                            </thead>

                            <!--/* 게시글 리스트 Rendering 영역 */-->
                            <tbody id="list">

                            </tbody>


                        </table>

                    </div>
                    <!--글쓰기버튼-->
                    <div class="btn_wrap text-right" style="float: right">
                        <a class="btn btn-primary waves-effect waves-light" th:href="@{/board/adopt/write}"
                           th:if="${session.loginDTO != null} ">Write</a>
                    </div>
                    <!--페이지네이션-->
                    <div class="pagination-block">
                        <!-- 페이지네이션 Rendering 영역 -->
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
<!-- start footer -->
<footer>
    <div th:replace="/footer :: footer"></div>
</footer>
<!-- end footer-->
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    /**
     * 페이지 로딩 시점에 실행되는 함수
     */
    window.onload = () => {

        findAll(1);

        addEnterSearchEvent();
    }


    /**
     *엔터 검색
     */
    function addEnterSearchEvent() {

        document.getElementById('keyword').addEventListener('keyup', (e) => {
            if (e.keyCode === 13) {
                findAll(1);
            }
        });
    }

    /**
     * 조회 API 호출
     */
    async function getJson(uri, params) {
        console.log('getJson start');
        if (params) {
            console.log(params);
            uri = uri + '?' + new URLSearchParams(params).toString();


        }
        const response = await fetch(uri);
        console.log(response);

        if (!response.ok) {
            await response.json().then(error => {

                throw error;
            });
        }
        return await response.json();
    }

    /**
     * 게시글 리스트 조회
     */
    function findAll(page) {
        const form = document.getElementById('searchForm');
        const params = {
            page: page
            , recordPerPage: 10
            , pageSize: 10
            , searchType: form.searchType.value
            , keyword: form.keyword.value
        }

        getJson('/api/adopt', params).then(response => {
            // console.log('in findall getjson');
            console.log(response);
            if (!Object.keys(response).length) {
                document.getElementById('list').innerHTML = '<td colspan="5">등록된 게시글이 없습니다.</td>';

                drawPages();

                return false;
            }

            let html = '';
            let num = response.params.adoptPagination.totalRecordCount - ((response.params.page - 1) * response.params.recordPerPage);
            console.log(`${num}`);


            response.list.forEach((obj, idx) => {
                //동물타입 아이콘
                let aniicon = `${obj.aniType}`;
                console.log("aniicon " + aniicon);
                let aniHtml = '';
                if (aniicon == '1') {
                    aniHtml = "<img id='aniicon' src='/images/dogicon.png' style='width: 30px; height: 30px; object-fit: cover;' >";
                } else if (aniicon == '2') {
                    aniHtml = "<img id='aniicon' src='/images/caticon.png ' style='width: 30px; height: 30px; object-fit: cover;'>";
                } else {
                    aniHtml = "<img id='aniicon' src='/images/aniicon.png' style='width: 30px; height: 30px; object-fit: cover;'>";
                }

                html += `
                                <tr id="bno${obj.id}">
<!--    							<td>${num--}</td>-->

                                    <td class="text-left">
                                        ` + aniHtml + `<a href="javascript: void(0);" onclick="goView(${obj.id})">${obj.title}</a>
                                        <br>
                                        <p style="white-space: normal; overflow: hidden; text-overflow: ellipsis; ">${obj.content}</p >
                                    </td>
                                    <td>${obj.memNick}</td>
                                    <td>${moment(obj.createdDate).format('YYYY-MM-DD')}</td>
                                    <td>${obj.hits}</td>
							</tr>
						`;
            });

            document.getElementById('list').innerHTML = html;

            drawPages(response.params);
            findImg();
        });

    }

    //이미지 띄우기
    function findImg() {
        const imgRes = getImg('/api/adopt/allfiles');
        let imgHtml = '';
        console.table(imgRes);
        imgRes.forEach(row => {
            let imgTd = document.createElement("TD");
            if (CheckImagefiles(`${row.storeName}`)) {
                imgHtml = `<img id="ino${row.boardId}" class="imgs" src="/upload/${row.storeName}" alt="" style="width: 130px; height: 130px; display: block; object-fit: cover;" />`;

            } else {
                imgHtml = '';
            }
            imgTd.innerHTML = imgHtml;
            console.log("imgTd: " + imgHtml);
            if (document.getElementById(`bno${row.boardId}`) != null) {
                const parentElement = document.getElementById(`bno${row.boardId}`);
                const firstChild = parentElement.firstChild;
                // document.getElementById(`bno${row.boardId}`).insertBefore(imgTd, firstChild);
                parentElement.insertBefore(imgTd, firstChild);
            }

        })

    }

    function CheckImagefiles(fileName) {
        var result = false;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if (!ext) {
            return result;
        }
        var imgs = ['gif', 'jpg', 'jpeg', 'png', 'bmp', 'ico', 'apng'];
        ext = ext.toLocaleLowerCase();
        imgs.forEach(function (element) {
            if (ext == element) {
                result = true;
            }
        });
        return result;
    }

    /**
     * 게시글 조회
     */
    function goView(id) {
        location.href = `/board/adopt/view/${id}`;
    }

    /**
     * 페이지 HTML 렌더링
     */
    function drawPages(params) {

        if (!params) {
            document.querySelector('.pagination').innerHTML = '';
            return false;
        }

        let html = '';
        const pagination = params.adoptPagination;

        // 첫 페이지, 이전 페이지
        if (pagination.existPrevPage) {
            html += `
 				<li><a href="javascript:void(0)" onclick="findAll(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.startPage - 1});" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
 			`;
        }

        // 페이지 번호
        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            const active = (i === params.page) ? 'class="active"' : '';
            html += `<li ${active}><a href="javascript:void(0)" onclick="findAll(${i})">${i}</a></li>`;
        }

        // 다음 페이지, 마지막 페이지
        if (pagination.existNextPage) {
            html += `
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.endPage + 1});" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.totalPageCount});" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
 			`;
        }

        document.querySelector('.pagination').innerHTML = html;
    }


    //function
    function getImg(uri, params) {

        let json = {}

        $.ajax({
            url: uri,
            type: 'get',
            dataType: 'json',
            data: params,
            async: false,
            success: function (response) {
                json = response;
            },
            error: function (request, status, error) {
                console.log(error)
            }
        })

        return json;
    }

    /*]]>*/

</script>

<script th:src="@{/adopt/scripts/moment.min.js}"></script>
<script th:src="@{/adopt/scripts/jquery.min.js}"></script>
<script th:src="@{/adopt/scripts/main.js}"></script>

<script th:src="@{/adopt/scripts/common.js}"></script>
<script th:src="@{/adopt/scripts/jquery-3.6.0.min.js}"></script>
<script th:src="@{/adopt/scripts/bootstrap.min.js}"></script>


<!--add js-->
<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!--/add js-->

</html>