<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">



<th:block layout:fragment="content">
    <div>
        <div th:if="${session.loginDTO != null}" class="top_menu">
            <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginDTO.getMemberNick()} ]]</strong>님 반갑습니다.</div>
         </div>
        <!--/* 검색 영역 */-->
        <div class="input-group" id="adv-search">
            <form id="searchForm" onsubmit="return false;">
                <select id="searchType" class="form-control" style="width: 100px;">
                    <option value="">전체</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" id="keyword" class="form-control" placeholder="키워드를 입력해 주세요." style="width: 300px;" />
            </form>
            <button type="button" onclick="findAll(1);" class="btn btn-primary">
                <span aria-hidden="true" class="glyphicon glyphicon-search">검색</span>
            </button>
        </div>


        <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix"  style="width: 50%">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회 수</th>

            </tr>
            </thead>

            <!--/* 게시글 리스트 Rendering 영역 */-->
            <tbody id="list">

            </tbody>
        </table>
        <div class="btn_wrap text-right" style="float: right">
            <a class="btn btn-primary waves-effect waves-light" th:href="@{/board/adopt/write}"  th:if="${session.loginDTO != null} ">Write</a>
        </div>


        <!-- 페이지네이션 Rendering 영역 -->
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">

            </ul>
        </nav>
    </div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        /**
         * 페이지 로딩 시점에 실행되는 함수
         */
        window.onload = () => {

            findAll(1);

            addEnterSearchEvent();
        }



        /**
         *엔터 검색
         */
        function addEnterSearchEvent() {

            document.getElementById('keyword').addEventListener('keyup', (e) => {
                if (e.keyCode === 13) {
                    findAll(1);
                }
            });
        }

        /**
         * 조회 API 호출
         */
        async function getJson(uri, params){
            console.log('getJson start');
            if(params){
                console.log(params);
                uri = uri + '?' + new URLSearchParams(params).toString();


            }
            const response = await fetch(uri);
            console.log(response);

            if(!response.ok){
                await response.json().then(error =>{

                    throw error;
                });
            }
            return await response.json();
        }

        /**
         * 게시글 리스트 조회
         */
        function findAll(page) {
            const form = document.getElementById('searchForm');
            const params = {
                page : page
                ,recordPerPage : 10
                ,pageSize : 10
                ,searchType : form.searchType.value
                ,keyword : form.keyword.value
            }



            getJson('/api/adopt', params).then(response => {
                // console.log('in findall getjson');
                console.log(response);
                if (!Object.keys(response).length) {
                    document.getElementById('list').innerHTML ='<td colspan="5">등록된 게시글이 없습니다.</td>';

                    drawPages();

                    return false;
                }

                let html = '';
                let num = response.params.adoptPagination.totalRecordCount - ((response.params.page - 1) * response.params.recordPerPage);
                console.log(`${num}`);

                response.list.forEach((obj, idx)=> {
                    html += `
                           <tr id="bno${obj.id}">
    							<td>${num--}</td>

    							<td class="text-left">
    								<a href="javascript: void(0);" onclick="goView(${obj.id})">${obj.title}</a>
    							</td>
    							<td>${obj.memNick}</td>
    							<td>${moment(obj.createdDate).format('YYYY-MM-DD HH:mm:ss')}</td>
    							<td>${obj.hits}</td>
							</tr>
						`;
                });

                document.getElementById('list').innerHTML = html;

                drawPages(response.params);
                findImg();
            });

        }

        //이미지 띄우기
function findImg(){
    const imgRes = getImg('/api/adopt/allfiles');
    let imgHtml = '';
    console.table(imgRes);
    imgRes.forEach(row => {
        let imgTd = document.createElement("TD");
        if(CheckImagefiles(`${row.storeName}`)){
            imgHtml = `<img id="ino${row.boardId}" class="imgs" src="/upload/${row.storeName}" alt="" style="width: 130px; height: 130px; display: block; object-fit: cover;" />`;

        }else{
            imgHtml='';
        }
        imgTd.innerHTML = imgHtml;
        console.log("imgTd: "+imgHtml);

        document.getElementById(`bno${row.boardId}`).appendChild(imgTd);
    })

}
        function CheckImagefiles(fileName) {
            var result = false;
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
            if(!ext){
                return result;
            }
            var imgs = ['gif', 'jpg', 'jpeg', 'png', 'bmp' ,'ico', 'apng'];
            ext = ext.toLocaleLowerCase();
            imgs.forEach( function(element) {
                if(ext == element){
                    result = true;
                }
            });
            return result;
        }

        /**
         * 게시글 조회
         */
        function goView(id) {
            location.href = `/board/adopt/view/${id}`;
        }

        /**
         * 페이지 HTML 렌더링
         */
        function drawPages(params) {

            if (!params) {
                document.querySelector('.pagination').innerHTML = '';
                return false;
            }

            let html = '';
            const pagination = params.adoptPagination;

            // 첫 페이지, 이전 페이지
            if (pagination.existPrevPage) {
                html += `
 				<li><a href="javascript:void(0)" onclick="findAll(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.startPage - 1});" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
 			`;
            }

            // 페이지 번호
            for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                const active = (i === params.page) ? 'class="active"' : '';
                html += `<li ${active}><a href="javascript:void(0)" onclick="findAll(${i})">${i}</a></li>`;
            }

            // 다음 페이지, 마지막 페이지
            if (pagination.existNextPage) {
                html += `
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.endPage + 1});" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
 				<li><a href="javascript:void(0)" onclick="findAll(${pagination.totalPageCount});" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
 			`;
            }

            document.querySelector('.pagination').innerHTML = html;
        }




        //function
        function getImg(uri, params) {

            let json = {}

            $.ajax({
                url : uri,
                type : 'get',
                dataType : 'json',
                data : params,
                async : false,
                success : function (response) {
                    json = response;
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })

            return json;
        }
        /*]]>*/

    </script>
</th:block>
</html>