<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내새끼 자랑 게시판</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <!-- Bootstrap css -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>

    <!-- Ajax를 사용하기 위한 JQuery CDN 적용 -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->

<!-- Start MagazineBoard -->
<section class="section position-relative overflow-hidden"
         style=" top: 95px;">

    <div class="content-wrapper container ">
        <div class="row mt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb default mb-0">
                        <li class="breadcrumb-item">
                            <a href="index.html" class="text-muted">홈</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">자유게시판</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</section>
<section class="inner-blog section ">
    <!-- start container -->
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <h2 class="fw-bold">내새끼 자랑 게시판</h2>
                <p class="text-muted">매일매일 함께한 추억, 우리 반려동물들의 일상 이야기 📷🐶🐱🐾 </p>
            </div>
        </div>
        <hr class="my-4">
        <section class="notice d-flex">
            <div class="sch-cont">
                <select id="search_select" class="">
                    <option value="title">제목</option>
                    <option value="contents">제목+내용</option>
                    <option value="writer">작성자</option>
                </select>
                <input id="searchKeyword" name="searchKeyword" title="검색어 입력" class="q1" type="text"
                       placeholder="검색어 입력"/>
                <button onclick="searchBoard();" class="btn btn-sm btn-outline-dark">검색</button>
                <button onclick="saveReq()" class="btn btn-sm">글쓰기</button>
                <br>
            </div>
        </section>
        <th:block th:if="${session.loginDTO == null}"><!-- 세션값 가져오는 hidden input start -->
            <input type="hidden" id="memberNick">
        </th:block>
        <th:block th:unless="${session.loginDTO == null}">
            <input type="hidden" id="memberNick" th:value="${session.loginDTO.getMemberNick()}">
        </th:block><!-- 세션값 가져오는 hidden input end -->

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="row" id="board_list"> <!--게시판 목록 start-->
                    <div class="col-lg-4" th:each="board: ${boardList}">
                        <div class="blog-item">
                            <div class="blog-image position-relative">
                                <a th:href="@{|/board/proud/${board.bno}|(page=${boardList.number + 1})}">
                                    <img th:src="@{|/upload/${board.repositoryFileName.get(0)}|}" alt=""
                                         class="img-fluid">
                                    <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">

                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted">
                      <th:block th:if="${board.proudCommentDTOList!=null}">
                      <span class="ms-2"> <i class="mdi mdi-message-text-outline align-middle"
                                             th:text="${board.proudCommentDTOList.size()}"></i> </span>
                          </th:block>
                      <th:block th:unless="${board.proudCommentDTOList!=null}">
                           <span class="ms-2"> <i class="mdi mdi-message-text-outline align-middle"
                                                  th:text="0"></i> </span>
                      </th:block>
                      <span class="ms-2"> <i class="mdi mdi-eye align-middle" th:text="${board.hits}"></i> </span>
                      <th:block th:if="${board.proudLikeDTOList!=null}">
                      <span class="ms-2"> <i class="mdi mdi-heart"
                                             th:text="${board.proudLikeDTOList.size()}"></i> </span>
                          </th:block>
                      <th:block th:unless="${board.proudLikeDTOList!=null}">
                          <span class="ms-2"><i class="mdi mdi-heart" th:text="0"> </i></span>
                      </th:block>
                  </span>
                                    </div>
                                </a>
                            </div>
                            <div class="blog-content mt-3">
                                <h5 class="fw-bold slider-overtext"><a
                                        th:href="@{|/board/proud/${board.bno}|(page=${boardList.number + 1})}"
                                        th:text="${board.title}"></a></h5>
                                <p class="text-muted f-15 mb-3 slider-overtext"
                                   th:text="${#temporals.format(board.createDate,'yyyy-MM-dd')}"></p>
                            </div>
                        </div>
                    </div>
                </div><!--게시판목록 end-->
            </div>
            <div class="pagination-block">
                <nav aria-label="navigation">
                    <ul id="page_list" class="pagination justify-content-center">
                        <!-- 첫번째 페이지로 이동 -->
                        <!-- /board/paging?page=1 -->
                        <th:block th:if="${boardList.getTotalPages()!=1}">
                            <li class="page-item"><a class="page-link" th:href="@{/board/proud/(page=1)}">처음</a></li>
                            <!-- 이전 링크 활성화 비활성화 -->
                            <!-- noticeBoardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                            <li class="page-item"><a class="page-link"
                                                     th:href="${boardList.first} ? '#' : @{/board/proud/(page=${boardList.number})}">이전</a>
                            </li>
                        </th:block>
                        <th:block th:unless="${endPage!=1}">
                            <li class="page-item"><a class="page-link" href="#">처음</a></li>
                            <li class="page-item"><a class="page-link" href="#">이전</a></li>
                        </th:block>

                        <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                                for(int page=startPage; page<=endPage; page++)-->
                        <th:block th:if="${boardList.getTotalPages()>=1}">
                        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        <!-- 현재페이지는 링크 없이 숫자만 -->
                            <li class="page-item"><span class="page-link" th:if="${page==boardList.number+1}"
                                                        th:text="${page}"></span></li>
                            <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
                            <li class="page-item"><span th:unless="${page==boardList.number+1}">
                                <a class="page-link" th:href="@{|/board/proud/?page=${page}|}" th:text="${page}"></a>
                            </span></li>
                        </span>
                        </th:block>
                        <!-- 다음 링크 활성화 비활성화
                            사용자: 2페이지, getNumber: 1, 3페이지-->
                        <th:block th:if="${!boardList.isLast()}">
                            <li class="page-item"><a class="page-link"
                                                     th:href="${boardList.last} ? '#' : @{/board/proud/(page=${boardList.number + 2})}">다음</a>
                            </li>
                            <!-- 마지막 페이지로 이동 -->
                            <li class="page-item"><a class="page-link"
                                                     th:href="${boardList.last}? '#' : @{/board/proud/(page=${boardList.totalPages})}">마지막</a>
                            </li>
                        </th:block>
                        <th:block th:unless="${!boardList.isLast()}">
                            <li class="page-item"><a class="page-link" href="#">다음</a></li>
                            <li class="page-item"><a class="page-link" href="#">마지막</a></li>
                        </th:block>
                    </ul>
                </nav>
            </div>


        </div>

    </div>
    <!-- end container -->
</section>

<!-- End MagazineBoard -->
<!-- Start footer-->
<div th:replace="/footer :: footer"></div>
<!-- end footer-->

<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>

<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
</body>

</html>

<script th:inline="javascript">
    const saveReq = () => {
        const nick = document.querySelector("#memberNick").value;

        if (nick == '' || nick == null) {
            alert("로그인 후 이용 가능합니다.");
            location.href = "/member/login";
        } else {
            location.href = "/board/proud/save"
        }
    }

    function searchBoard() {
        let searchType = document.getElementById("search_select").value;
        let searchKeyword = document.getElementById("searchKeyword").value;

        $.ajax({
            type: "GET",
            url: "/board/proud/search",
            data: {
                "searchType": searchType,
                "searchKeyword": searchKeyword,
            },
            success: function (data) {
                console.log("검색 성공");
            },
            error: function () {
                console.log("검색 실패");
            }
        })
            .done(function (fragment) {
                console.log(fragment);
                $('#board_list').replaceWith(fragment);
            });
        searchBoardPage();
    }

    function searchBoardPage() {
        let searchType = document.getElementById("search_select").value;
        let searchKeyword = document.getElementById("searchKeyword").value;

        $.ajax({
            type: "POST",
            url: "/board/proud/search/page",
            data: {
                "searchType": searchType,
                "searchKeyword": searchKeyword,
            },
            success: function (data) {
                console.log("검색 성공");
            },
            error: function () {
                console.log("검색 실패");
            }
        })
            .done(function (fragment) {
                console.log(fragment);
                $('#page_list').replaceWith(fragment);
            });
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
</html>