<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>에디터</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=" "/>
  <meta name="keywords" content=""/>
  <meta content="Pichforest" name="author"/>

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

  <!-- Material Icon Css -->
  <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css" />

  <!-- Unicon Css -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

  <!-- Ajax를 사용하기 위한 JQuery CDN 적용 -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->

<section class="section position-relative overflow-hidden"
         style=" top: 95px;">
  <div class="content-wrapper container ">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="fw-bold">에디터</h2>
        <p class="text-muted">반함 에디터 게시판입니다.</p>
      </div>
    </div>
    <hr class="my-4">
    <section class="flexbox pb-3">
      <div class="container">
        <section class="notice d-flex justify-content-end">
          <div class="sch-cont">
            <!-- 검색기능 후순위 -->
            <!--                    <select class="">-->
            <!--                        <option value="title">제목</option>-->
            <!--                        <option value="writer">작성자</option>-->
            <!--                        <option value="create_date">작성일</option>-->
            <!--                    </select>-->
            <!--                    <input id="searchKeyword" name="searchKeyword" title="검색어 입력" class="q1" type="text" placeholder="검색어 입력" />-->
            <!--                    <a href="#none" onclick="fnCmdSearch();" class="btn btn-sm btn-outline-dark">검색</a>-->
          </div>
        </section>
      </div>



      <div class="container mt-3">
        <div class="demo-wrapper content-block pb-0">
          <div class="table data-table">
            <table class="table table-responsive">
              <colgroup>
                <col width="60%"/>
                <col width="13.33%"/>
                <col width="13.33%"/>
                <col width="13.33%"/>
              </colgroup>
              <thead class="bgl-gray-light">
              <tr>
                <th class="text-center">제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">작성일</th>
                <th class="text-center">조회수</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="board: ${editorBoardList}">
                <td><a th:href="@{|/board/Editor/${board.bno}|(page=${editorBoardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
                <td th:text="${board.boardHits}"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- 페이징 버튼 와야함! -->


          <div class="pagination-block">
            <nav aria-label="navigation">
              <ul class="pagination justify-content-center">

                <!-- 첫번째 페이지로 이동 -->
                <!-- /board/paging?page=1 -->
                <li class="page-item"><a class="page-link" th:href="@{/board/EditorBoard(page=1)}">처음으로</a></li>
                <!-- 이전 링크 활성화 비활성화 -->
                <!-- noticeBoardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                <li class="page-item"><a class="page-link"
                                         th:href="${editorBoardList.first} ? '#' : @{/board/EditorBoard(page=${editorBoardList.number})}">이전</a>
                </li>

                <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                        for(int page=startPage; page<=endPage; page++)-->
                <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                        <!-- 현재페이지는 링크 없이 숫자만 -->
                            <li class="page-item"><span class="page-link" th:if="${page == editorBoardList.number + 1}" th:text="${page}"></span></li>
                  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
                            <li class="page-item"><span th:unless="${page == editorBoardList.number + 1}">
                                <a class="page-link" th:href="@{/board/EditorBoard(page=${page})}" th:text="${page}"></a>
                            </span></li>
                        </span>

                <!-- 다음 링크 활성화 비활성화
                    사용자: 2페이지, getNumber: 1, 3페이지-->
                <li class="page-item"><a class="page-link" th:href="${editorBoardList.last} ? '#' : @{/board/EditorBoard(page=${editorBoardList.number + 2})}">다음</a>
                </li>
                <!-- 마지막 페이지로 이동 -->
                <li class="page-item"><a class="page-link" th:href="@{/board/EditorBoard(page=${editorBoardList.totalPages})}">마지막</a></li>

              </ul>
            </nav>
          </div>
        </div>
      </div>

    </section>
  </div>
</section>

<!-- End Notice -->
<div th:replace="/footer :: footer"></div>
<!-- end footer-->


<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>
</body>
</html>