<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이디 찾기</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=" "/>
  <meta name="keywords" content=""/>
  <meta content="Pichforest" name="author"/>

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

  <!-- Material Icon Css -->
  <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css" />

  <!-- Unicon Css -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

  <!-- Ajax를 사용하기 위한 JQuery CDN 적용 -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>

<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->
<section class="section position-relative overflow-hidden"
         style="background-image: url(/images/login_bg.png); background-repeat: no-repeat; background-size: cover; top: 95px;">
  <div class="content-wrapper container ">
    <div class="row mt-4">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb default mb-0">
            <li class="breadcrumb-item">
              <a href="/" class="text-muted">홈</a>
            </li>
            <li class="breadcrumb-item " aria-current="page"><a class="text-muted"  href="/member/login">로그인</a></li>
            <li class="breadcrumb-item active text-primary" aria-current="page">아이디찾기</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="section position-relative overflow-hidden"
         style=" top: 50px; padding-bottom: 90px;" >
  <div class="content-wrapper container mt-5 ">
    <div class="row">
      <div class="col-lg-11">
        <h2 class="fw-bold">아이디 찾기</h2>
        <p class="fw-semibold">반함 아이디 찾기</p>
      </div>
    </div>
    <hr class="my-4">
    <section class="flexbox pb-3">
      <div class="col align-self-center">
        <div class="info-box">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="mt-4">
                <label class="form-label fw-semibold" for="mail">이메일  </label>
                <input class="form-control"  type="text" id="mail" name="mail" placeholder="가입에 사용한 이메일을 적어주세요."onblur="mailCheck()">
                <p id="mail_check_result"></p>
                <hr class="my-4">
                <button class="btn btn-sm btn-primary w-100"  id="btnSendId" disabled="disabled" onclick="sendId()">아이디 찾기</button>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">

      </div>
    </section>
  </div>
</section>


<!-- End Notice -->
<div th:replace="/footer :: footer"></div>
<!-- end footer-->
</body>

<script th:inline="javascript">
  const mailCheck = () => { // 이메일 유효성 검사 및 중복체크 메소드

    const mail = document.querySelector("#mail").value; //사용자 입력 이메일 값
    const checkResult = document.querySelector("#mail_check_result");

    let check_mail = new RegExp("([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|\"\(\[\]!#-[^-~ \t]|(\\[\t -~]))+\")@([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|\[[\t -Z^-~]*])"); //이메일 검증을 위한 RFC 5322 형식의 정규식

    if(mail == "" || mail == null) {
      checkResult.innerHTML = "이메일을 입력해주세요."
      checkResult.style.color = "black"
      $("#btnSendId").attr("disabled", true);
    } else if (!check_mail.test(mail)) {
      checkResult.innerHTML = "이메일 형식을 올바르게 입력해주세요."
      checkResult.style.color = "black"
      $("#btnSendId").attr("disabled", true);
    } else {
      $.ajax({
        //요청방식 post
        //주소 "/member/mail_check"
        type: "post",
        url: "/member/mail_check",
        data: {
          "memberMail": mail
        },

        success: function (res) {
          if(res == 'ok') {
            checkResult.innerHTML = "가입되지 않은 이메일 입니다.";
            checkResult.style.color = "red";
            console.log("가입되지 않은 이메일 입니다.");
            $("#btnSendId").attr("disabled", true);
          } else {
            checkResult.innerHTML = "가입된 이메일 입니다.";
            checkResult.style.color = "green";
            console.log("가입된 이메일 입니다.");
            $("#btnSendId").attr("disabled", false);
          }
          console.log("요청성공", res);

        },
        error: function (err) {
          console.log("에러발생", err);
          alert("이메일 중복 체크 작업중 에러 발생")
        }

      })
    }
  } // 이메일 유효성 검사 및 중복체크 메소드 end


  const sendId = () => { // 아이디 발송 메소드

    const email = document.querySelector("#mail").value; // 입력된 이메일값

    $.ajax({
      type : "POST",
      url : "/member/FindId",
      data : {
        "email" : email
      },
      success : function(data){
        alert("해당 이메일로 아이디 발송이 완료되었습니다.")

        location.href = "/member/login";

      },
      error : function (data) {
        alert("아이디 발송 도중 에러 발생" + data);

      }
    })
  } // 아이디 발송 메소드 end

</script>
<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>
</html>