<!-- start footer -->
<footer>

<section class="footer">
  <div class="footer-bg">
    <div class="container">
      <div class="top-footer">
        <div class="row">
          <div class="col-lg-6">
            <div class="footer-info mt-4">
              <a class="logo f-30 text-dark fw-bold" href="index.html">
                <img src="/images/banham_logo.png" class="logo-dark" alt="" height="40">
              </a>
              <p class="f-18 mt-4 text-light">
                반려동물과 함께.<br> 반함 커뮤니티 활동모임 입니다. <br>
              </p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="mt-4 pl-0 pl-lg-4">
              <h5 class="f-18 fw-bold">SNS</h5>
              <ul class="list-inline social-icons-list pt-3">
                <li class="list-inline-item">
                  <a href="https://github.com/Taeho-P/Banham"><i class="mdi mdi-github"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="mdi mdi-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <hr>

      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-muted">©
              <script>document.write(new Date().getFullYear())</script>
              teami <i
                      class="mdi mdi-heart text-danger"></i> by
              <a href="https://github.com/Taeho-P/Banham" target="_blank" class="text-reset">BanHam</a>.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--maker modal start-->
  <div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5><strong style="/* line-height: 1; */">업체정보</strong></h5>
                <button class="close_button" data-dismiss="modal" style="/* font-variant: titling-caps; */">x
                </button>
            </div>
            <div class="modal-body">
                <div class="info">
                    <dl>
                        <dt id="category_name"></dt>
                        <dd><strong id="place_title"></strong></dd>
                    </dl>
                    <dl>
                        <dd id="place_tel" style="font-weight: 800;font-size: 2vh;">
                        </dd>
                    </dl>
                    <dl>
                        <dd id="place_addr1"><i class="mdi mdi-map-marker"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_addr2"><i class="mdi mdi-cellphone-android"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_openTime"><i class="mdi mdi-menu-right"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_indoor"><i class="mdi mdi-menu-right"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_outdoor"><i class="mdi mdi-menu-right"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_parking"><i class="mdi mdi-earth"></i></dd>
                    </dl>
                    <dl>
                        <dd id="place_homepage"><i class="mdi mdi-earth"></i></dd>
                    </dl>
                    #자세한 사항은 홈페이지나 해당시설에 연락하여 확인부탁드립니다.
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
</footer>
<!-- end footer-->