<header>
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo f-30 text-dark fw-bold" >
                <img src="/images/banham_logo.png" class="logo-light" alt="" height="40">
            </a>
            <div>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center">
                    <div class="m-logo">
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='/'" style="cursor:pointer;"  >
                                <img src="/images/banham_logo.png" class="logo-light mobile-logo" alt="" height="40">
                            </a>
                        </li>
                    </div>
                </ul>
                <ul class="navbar-nav mx-auto navbar-center">
                    <li class="nav-item">
                        <a onclick="location.href='/'" style="cursor:pointer;" class="nav-link">홈</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle " href="index" id="homedrop" role="button"
                           data-bs-toggle="dropdown">
                            커뮤니티
                        </a>
                        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                            <li><a class="dropdown-item" onclick="location.href='/board/proud'"style="cursor:pointer;"><i
                                    class="mdi f-20 me-2 align-middle"></i>내새끼자랑</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/board/community'"style="cursor:pointer;"><i
                                    class="mdi f-20 me-2 align-middle"></i>자유게시판</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/board/EditorBoard'"style="cursor:pointer;"><i
                                    class="mdi f-20 me-2 align-middle"></i>에디터</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='/board/adopt'" style="cursor:pointer;">
                            입양
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.href='/board/missing'" style="cursor:pointer;">
                            실종
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " onclick="location.href='/board/NoticeBoard'" style="cursor:pointer;" >
                            공지사항/이벤트
                        </a>
                    </li>

                </ul>
                <!--end navbar-nav-->


                <ul class="navbar-nav mx-auto navbar-center mobile-user">
                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link dropdown-toggle homedrop" href="MyPage.html" role="button"
                           data-bs-toggle="dropdown">
                            <th:block th:if="${session.loginDTO == null}">
                            <img src="/images/all_menu_user_no_img.png" style="width: 30px;" >
                            </th:block>
                            <th:block th:unless="${session.loginDTO == null}">
                                <img th:src="@{|/profile/${session.loginDTO.profileImgNo}.png|}" style="width: 30px;" >
                            </th:block>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                            <!-- 세션에 로그인한 회원 정보가 없는 경우 -->
                            <th:block th:if="${session.loginDTO == null}">
                                <li>
                                    <a class="dropdown-item" onclick="location.href='/member/signUp'"
                                       style="cursor:pointer;">
                                        <i class="mdi f-20 me-2 align-middle"></i>회원가입</a></li>
                                <li><a class="dropdown-item" onclick="location.href='/member/login'"
                                       style="cursor:pointer;">
                                    <i class="mdi f-20 me-2 align-middle"></i>로그인</a></li>
                            </th:block>
                            <!-- 세션에 로그인한 회원 정보가 있는 경우 -->
                            <th:block th:unless="${session.loginDTO == null}">
                                <!-- 1. 세션에 로그인한 회원이 관리자계정일 경우 -->
                                <th:block th:if="${session.loginDTO.memberId == 'banham'}">
                                    <li>
                                        <a class="dropdown-item" onclick="location.href='/member/MyPage'"
                                           style="cursor:pointer;">
                                            <i class="mdi f-20 me-2 align-middle"></i>마이페이지</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='/member/logout'"
                                           style="cursor:pointer;">
                                        <i class="mdi f-20 me-2 align-middle"></i>로그아웃</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='/board/EditorWrite'"
                                           style="cursor:pointer;">
                                        <i class="mdi f-20 me-2 align-middle"></i>에디터 글 작성</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='/board/NoticeWrite'"
                                           style="cursor:pointer;">
                                        <i class="mdi f-20 me-2 align-middle"></i>공지사항 작성</a></li>
                                </th:block>

                                <!-- 2. 세션에 로그인한 회원이 일반회원일 경우 -->
                                <th:block th:unless="${session.loginDTO.memberId == 'banham'}">
                                    <li>
                                        <a class="dropdown-item" onclick="location.href='/member/MyPage'"
                                           style="cursor:pointer;">
                                            <i class="mdi f-20 me-2 align-middle"></i>마이페이지</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='/member/logout'"
                                           style="cursor:pointer;">
                                        <i class="mdi f-20 me-2 align-middle"></i>로그아웃</a></li>
                                </th:block>
                            </th:block>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
        <!--end container-->
    </nav>
</header>
<!-- Navbar End -->

<!--jquery -->

