<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>반함 Banham</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>



    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>


    <!-- Swiper Css -->
    <link rel="stylesheet" href="/css/tiny-slider.css" type="text/css"/>
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css"/>

    <!-- Editor Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Map Css -->
    <link rel="stylesheet" href="/css/map.css">

    <!--weather css-->
    <style>
        .weather {
            width: 1200px;
            height: 180px;
            /*background-image: url('https://i.ibb.co/TrFsRs8/Group-3.png');*/
            /*background-image: url('https://i.ibb.co/rd3NHwW/Group-4.png');*/
            background-image: url('https://i.ibb.co/wzfdhzG/back.png');
            /*background-attachment: fixed;*/
            background-repeat: no-repeat;

            /*display: flex;*/
            /*justify-content: space-between;*/
            /*justify-content: space-around;*/
            font-family: "G마켓 산스 TTF Light";
            /*margin-top: 30px;*/
            /*padding: 20px -10px 20px 20px ;*/

            position: relative;

        }

        .divLoc {
            text-align: left;
            position: absolute;
            top: 20px;
            left: 30px;

        }

        #loc2 {
            font-size: 20px;
        }

        #loc {
            font-size: 15px;
        }

        #weatherTemp {
            font-family: "G마켓 산스 TTF Medium";
            text-align: center;
            font-size: 40px;

            position: absolute;
            top: 90px;
            left: 30px;
        }


        #weatherIcon {
            position: absolute;
            left: 265px;
            top: 10px;
        }

        #weatherMain {
            position: absolute;
            left: 300px;
            top: 110px;
        }

        #pollIcon {
            position: absolute;
            top: 30px;
            left: 480px;
            opacity: 0.7;
        }

        #pollution {
            position: absolute;
            top: 110px;
            left: 460px;
        }


        #chart {
            position: absolute;
            right: 20px;
            top: 10px;

            width: 480px;
            height: 150px;
            background-color: ghostwhite;
            opacity: 0.3;
            overflow: hidden;
        }

        #curve_chart {
            position: absolute;
            top: -20px;

            width: 500px;
            height: 170px;

        }

        #temperature-markers {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        .custom-marker {
            position: absolute;
            font-size: 12px;
            font-weight: bold;
            color: #333;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2px 5px;
            border-radius: 5px;
        }

    </style>

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">

<!--Navbar Start-->


<!-- Start Navbar-->

<header>
    <div th:replace="/header :: header"></div>
</header>
<!--end Navbar-->
<!-- start kakaomap api service -->

<section class="mt-7 section service collection post-content">

    <!-- start container -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">

                <div id="mapwrap">
                    <div id="map" style="width:100%;height:500px;"></div>
                    <div class="category">
                        <ul>
                            <li id="travelMenu" class="" onclick="changeMarker('travel')">
                                <span class="ico_comm ico_travel"></span>
                                여행
                            <li id="hotelMenu" class="" onclick="changeMarker('hotel')">
                                <span class="ico_comm ico_hotel"></span>
                                숙박
                            </li>
                            <li id="foodMenu" class="" onclick="changeMarker('food')">
                                <span class="ico_comm ico_food"></span>
                                음식점
                            </li>
                            <li id="shoppingMenu" class="" onclick="changeMarker('shopping')">
                                <span class="ico_comm ico_shopping"></span>
                                쇼핑
                            </li>
                            <li id="medicalMenu" class="" onclick="changeMarker('medical')">
                                <span class="ico_comm ico_medical"></span>
                                의료
                            </li>
                            <li id="serviceMenu" class="" onclick="changeMarker('service')">
                                <span class="ico_comm ico_service"></span>
                                서비스
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end kakaomap api service -->
<!-- start weather service -->

<section class="mt-1 section service collection">

    <!-- start container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h2 class="fw-bold">오늘의 날씨</h2>
                    <p class="text-muted">오늘의 날씨 알아맞춰보세용</p>
                </div>
                <div class="weather">

                    <div class="divLoc">
                        <div id="loc2"></div>
                        <div id="loc"></div>
                    </div>

                    <div id="weatherTemp"></div>


                    <div id="now">
                        <img id="weatherIcon">
                        <div id="weatherMain"></div>
                    </div>

                    <img id="pollIcon">
                    <div id="pollution">
                        <span>미세먼지 : </span>
                        <span id="weatherPol"></span>
                    </div>

                    <div id="chart">
                        <div id=curve_chart>

                        </div>
                        <div id="temperature-markers"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end weather service -->

<!-- start Best pet -->
<section class="testimonial section">
    <!-- start container -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="text-gradiant fw-bold">Best</h6>
                <h2 class="fw-bold">오늘의 내새끼 자랑</h2>
                <p class="text-muted">귀여운 우리집 새끼 자랑하고 가세요💖</p>
            </div>
        </div>

        <div class="testi-slider" id="testi-slider">
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="/images/img-1.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-1.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">

                        <div class="slider-overtext">
                        <h5 class="fw-bold slider-overtext ">아침산책이 넘좋아요</h5>
                        <p class="text-muted slider-overtext">날씨도 선선해져서 산책이 넘 좋아지네요 알콩이도 기분좋아보여요💕💕</p>
                        </div>
                            <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>

                          구경하러가기
                        </button>
                    </div>
                </div>
            </div>
            <!-- slider item -->

            <div class="item">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="/images/img-2.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-2.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold slider-overtext">맥스는 평생 아가에요</h5>
                        <p class="text-muted slider-overtext">자기 발로 품속에 안겨서 너무 사랑스러웠어요🥰</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기
                        </button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="/images/img-3.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-3.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold slider-overtext">오늘도 미모 뿜뿜!</h5>
                        <p class="text-muted slider-overtext">오늘도 너무 사랑스러운 미야랍니다 ~! </p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기
                        </button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="/images/img-4.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-4.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold slider-overtext">꽃보다두유🤍</h5>
                        <p class="text-muted slider-overtext">두유가 꽃보다 더 이쁜거같죠?🫢🤍</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기
                        </button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
        </div>
        <!-- End slider -->
    </div>
    <!-- end container -->
</section>
<!-- end Best pet -->

<!-- start editor choice -->
<section class="testimonial section">
    <!-- start container -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="text-gradiant fw-bold">Editor Choice</h6>
                <h2 class="fw-bold">에디터 추천 Pick</h2>
                <p class="text-muted">에디터가 엄선해서 고른 추천 스팟</p>
            </div>
        </div>

        <!-- Swiper -->
        <div class="swiper editorSwiper ">

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img" src="/images/editor-img1.png" alt="editor-img1">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                            <h6 class="card-subtitle">충청남도 태안군</h6>
                            <h3 class="card-title">하늘지기</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <div class="link d-flex">
                                <!--                                <a href="#" class="card-link text-warning">구경하러가기</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img" src="/images/editor-img2.png" alt="editor-img2">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                            <h6 class="card-subtitle">경기도 가평군</h6>
                            <h3 class="card-title">스위트몽</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <div class="link d-flex">
                                <!--                                <a href="#" class="card-link text-warning">구경하러가기</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img" src="/images/editor-img3.png" alt="editor-img3">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                            <h6 class="card-subtitle">충정남도 태안군</h6>
                            <h3 class="card-title">바다가쓴시</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <div class="link d-flex">
                                <!--                                <a href="#" class="card-link text-warning">구경하러가기</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img" src="/images/editor-img4.png" alt="editor-img4">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                            <h6 class="card-subtitle">충남 아산시 </h6>
                            <h3 class="card-title">포시즌발리</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <div class="link d-flex">
                                <!--                                <a href="#" class="card-link text-warning">구경하러가기</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img class="card-img" src="/images/editor-img5.png" alt="editor-img5">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                            <h6 class="card-subtitle">충청남도 태안군</h6>
                            <h3 class="card-title">하늘지기</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="ratings">
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star rating-color"></i>
                                    <i class="mdi mdi-star"></i>
                                </div>
                            </div>
                            <div class="link d-flex">
                                <!--                                <a href="#" class="card-link text-warning">구경하러가기</a>-->
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="pt-5">
            <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- End slider -->
    </div>
    <!-- end container -->
</section>
<!-- end editor choice -->

<!-- start adopt -->
<section class="home bg-image" id="home">
    <!-- start container -->
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="home-content home-heading">
                    <h2 class="fw-bold">#사지말고 입양 해주세요 <span class="text-primary"> </span></h2>
                    <p class="text-muted my-4"> 따뜻한 보금자리를 기다리는 동물들에게 새로운 가족이 되어주세요.</p>
                    <button class="btn-dark twosliderbtn">더보기</button>
                </div>
                <div class="client-slider clients-slider">
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>

            <div class="col-lg-6">
                <div class="home-content home-heading">
                    <h2 class="fw-bold">#실종 전단지 <span class="text-primary"></span></h2>
                    <p class="text-muted my-4">
                        동물을 빨리 찾을 수 있도록 분실관련 정보를 공유하는 공간입니다</p>
                    <button class="btn-dark twosliderbtn">더보기</button>
                </div>
                <div class="client-slider2" id="clients-slider">
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">경기도 남양주시</p>
                                <h5 class="fw-bold">복돌이를 찾아주세요</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>


        </div>
    </div>
    <!-- end container -->
</section>
<!-- end adopt -->

<!-- start notice -->
<section class="mt-5 service bg-gray" id="collection">
    <!-- start container -->
    <div class="container notice">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="rollingbanner">
                    <div class="title">공지사항</div>
                    <div class="wrap">
                        <ul>
                            <li><a href="#">[공지사항] 반함 현대백화점 오프라인 팝업스토어 오픈! </a></li>
                            <li class="next"><a href="#">[이벤트] 반함 홈페이지 리뉴얼 이벤트 </a></li>
                            <li class="current"><a href="#">[공지사항] 9월 21일 홈페이지 점검 안내</a></li>
                            <li><a href="#">[이벤트] 반려동물과 함께 추억남기기 이벤트</a></li>
                            <li class="prev"><a href="#">[이벤트] 내새끼 자랑 Best 당첨자 안내</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end notice -->

<!-- start footer -->
<footer>
<div th:replace="/footer :: footer"></div>
</footer>
<!-- end footer-->

<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>


<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- Editor Swiper Js-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- Notice Js-->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>

<!-- editor slider -->

<script>
    var swiper = new Swiper(".editorSwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 50,
            },
        },
    });
</script>
<script>
    var slider = tns({
        container: '.client-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: true,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 1.5
            },

        }
    });

</script>
<script>
    var slider = tns({
        container: '.client-slider2',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: true,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 1.5
            },

        }
    });

</script>

<script>
    new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        pagination: '.swiper-pagination',
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        speed: 1500,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
</script>

<script>
    var slider = tns({
        container: '.testi-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: true,
        navPosition: "bottom",
        nav: false,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 3
            },

        }
    });

</script>

<script>
    const infoSwiper = {
        init() {
            let $infoSwiper = document.querySelector(".info-swiper");

            if ($infoSwiper) {
                var swiper = new Swiper(".info-swiper", {
                    loop: true,
                    /* autoplay: {
                        delay: 3000,
                    }, */
                    slidesPerView: 1,
                    spaceBetween: 10,
                    direction: "vertical",
                    navigation: {
                        nextEl: ".notice-next",
                        prevEl: ".notice-prev",
                    },
                    speed: 900,
                    autoplay: {
                        delay: 2000,
                    },
                });
            }
        },
    };


</script>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e6e2fbdddf2598b484e10300b7622f66&&libraries=services,drawing,clusterer"></script>

<!--날씨-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--maker modal end-->

<!--kakao maker modal end-->

<script th:inline="javascript">


    /* 해야할일
    json data parse해서 DB에 넣기
    DBdata랑 json data 비교대조해서 첨삭코드 만들기 @스케쥴 어노테이션 참고해서 구현해볼것 */

    let mapContainer = document.getElementById('map'); // 지도를 표시할 div
    let lat = 37.498095; // 기본 위도(강남역)
    let lon = 127.027610; // 기본 경도(강남역)
    let mapOption; // 맵 옵션 (위도/경도 세팅, 확대레벨 세팅)
    let map; // 띄워줄 맵 객체
    let serviceList = [[${serviceList}]]; //서비스
    let foodList = [[${foodList}]], // 음식점
        travelList = [[${travelList}]], // 여행
        shoppingList = [[${shoppingList}]], // 쇼핑
        medicalList = [[${medicalList}]], //의료
        hotelList = [[${hotelList}]]; // 숙박
    let serviceMarker = [],
        foodMarker = [],
        travelMarker = [],
        shoppingMarker = [],
        medicalMarker = [],
        hotelMarker = [];
    let clusterer = new kakao.maps.MarkerClusterer({
        map: map,
        averageCenter: true,
        minLevel: 5
    });
    let imageSize = new kakao.maps.Size(22, 26);
    let imageOptions = {
        spriteOrigin: new kakao.maps.Point(10, 0),
        spriteSize: new kakao.maps.Size(36, 98)
    };

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            mapOption = {
                center: new kakao.maps.LatLng(lat, lon),
                level: 2
            };
            map = new kakao.maps.Map(mapContainer, mapOption);
            map.setMaxLevel(8);
            // 현재 위치 가져오기

            console.log("현재 위치", lat, lon);
            getWeather(lat, lon);
            getPollution(lat, lon);
            getLoc(lat, lon);
            getForecast(lat, lon);


        }, error);
    } else {
        mapOption = {
            center: new kakao.maps.LatLng(lat, lon),
            level: 2
        };
        map = new kakao.maps.Map(mapContainer, mapOption);
        map.setMaxLevel(8);

        console.log("현재 위치", lat, lon);
        getWeather(lat, lon);
        getPollution(lat, lon);
        getLoc(lat, lon);
        getForecast(lat, lon);
    }

    function error() {
        mapOption = {
            center: new kakao.maps.LatLng(lat, lon),
            level: 2
        };
        map = new kakao.maps.Map(mapContainer, mapOption);
        map.setMaxLevel(9);

        console.log("현재 위치", lat, lon);
        getWeather(lat, lon);
        getPollution(lat, lon);
        getLoc(lat, lon);
        getForecast(lat, lon);
    }


    let imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    function createMarkerImage(src, size, options) {
        let markerImage = new kakao.maps.MarkerImage(src, size, options);
        return markerImage;
    }

    // // 초기화 및 데이터 로딩 후 실행할 함수
    // function initialize() {
    //     // 초기화할 데이터 카테고리를 배열로 정의
    //     const categories = ['service', 'food', 'travel', 'medical', 'hotel', 'shopping'];
    //
    //     // 각 카테고리에 해당하는 데이터를 비동기적으로 로딩하고 마커 생성
    //     categories.forEach(category => {
    //         createrMarker(category);
    //     });
    // }
    //
    // // 페이지 로딩 완료 시 초기화 함수 실행
    // window.addEventListener('load', initialize);

    function createMarker(position, image) {
        let marker = new kakao.maps.Marker({
            position: position,
            image: image,
            imageSize: imageSize
        });
        return marker;
    }

    function createMarkersByCategory(category, dataList, markerArray) {
        let marker;
        for (let i = 0; i < dataList.length; i++) {
            let data = dataList[i];
            let title = data.title;
            let location = data.addr1;
            let latlng = new kakao.maps.LatLng(data.latitude, data.longitude);
            marker = createMarker(latlng, createMarkerImage(imageSrc, imageSize));

            kakao.maps.event.addListener(marker, 'click', function () {
                const modal = document.getElementById("modal");
                let placeTitle = title;
                let placeAddr = location;

                document.getElementById("place_phone").innerText = placeTitle;
                document.getElementById("place_addr").innerText = placeAddr;
                modal.style.display = "block";
            });
            markerArray.push(marker);
        }

    }

    function changeMarker(type) {
        let serviceMenu = document.getElementById('serviceMenu');
        let foodMenu = document.getElementById('foodMenu');
        let travelMenu = document.getElementById('travelMenu');
        let medicalMenu = document.getElementById('medicalMenu');
        let hotelMenu = document.getElementById('hotelMenu');
        let shoppingMenu = document.getElementById('shoppingMenu');
        // 다른 카테고리 메뉴 변수 더 만들어서 저장하기

        // 선택한 카테고리 메뉴를 강조 표시하고 다른 카테고리 메뉴를 초기화
        if (type === 'service') {
            serviceMenu.className = 'menu_selected';
            foodMenu.className = '';
            travelMenu.className = '';
            medicalMenu.className = '';
            hotelMenu.className = '';
            shoppingMenu.className = '';
        } else if (type === 'food') {
            foodMenu.className = 'menu_selected';
            serviceMenu.className = '';
            travelMenu.className = '';
            medicalMenu.className = '';
            hotelMenu.className = '';
            shoppingMenu.className = '';
        } else if (type === 'shopping') {
            shoppingMenu.className = 'menu_selected';
            foodMenu.className = '';
            travelMenu.className = '';
            medicalMenu.className = '';
            hotelMenu.className = '';
            travelMenu.className = '';
        } else if (type === 'hotel') {
            hotelMenu.className = 'menu_selected';
            foodMenu.className = '';
            travelMenu.className = '';
            medicalMenu.className = '';
            shoppingMenu.className = '';
            serviceMenu.className = '';
        } else if (type === 'travel') {
            travelMenu.className = 'menu_selected';
            foodMenu.className = '';
            serviceMenu.className = '';
            medicalMenu.className = '';
            hotelMenu.className = '';
            shoppingMenu.className = '';
        } else if (type === 'medical') {
            medicalMenu.className = 'menu_selected';
            foodMenu.className = '';
            travelMenu.className = '';
            hotelMenu.className = '';
            shoppingMenu.className = '';
            serviceMenu.className = '';
        }

        // 선택한 카테고리에 해당하는 마커만 표시
        setMarkersByCategory(type);
    }

    function createrMarker(category) {
        if (category === 'service') {
            createMarkersByCategory(category, serviceList, serviceMarker);
        }
        if (category === 'food') {
            createMarkersByCategory(category, foodList, foodMarker);
        }
        if (category === 'travel') {
            createMarkersByCategory(category, travelList, travelMarker);
        }
        if (category === 'medical') {
            createMarkersByCategory(category, medicalList, medicalMarker);
        }
        if (category === 'hotel') {
            createMarkersByCategory(category, hotelList, hotelMarker);
        }
        if (category === 'shopping') {
            createMarkersByCategory(category, shoppingList, shoppingMarker);
        }
        // 선택된 카테고리에 해당하는 마커만 생성하고 표시
    }

    function setMarkersByCategory(category) {
        createrMarker(category);
        // 각 카테고리에 해당하는 마커들만 표시하도록 설정
        if (category === 'service') {
            for (let i = 0; i < serviceMarker.length; i++) {
                serviceMarker[i].setMap(map);
            }

        } else {
            for (let i = 0; i < serviceMarker.length; i++) {
                serviceMarker[i].setMap(null);
            }
        }

        if (category === 'food') {
            for (let i = 0; i < foodMarker.length; i++) {
                foodMarker[i].setMap(map);
            }
        } else {
            for (let i = 0; i < foodMarker.length; i++) {
                foodMarker[i].setMap(null);
            }
        }

        if (category === 'travel') {
            for (let i = 0; i < travelMarker.length; i++) {
                travelMarker[i].setMap(map);
            }
        } else {
            for (let i = 0; i < travelMarker.length; i++) {
                travelMarker[i].setMap(null);
            }
        }

        if (category === 'shopping') {
            for (let i = 0; i < shoppingMarker.length; i++) {
                shoppingMarker[i].setMap(map);
            }
        } else {
            for (let i = 0; i < shoppingMarker.length; i++) {
                shoppingMarker[i].setMap(null);
            }
        }

        if (category === 'medical') {
            for (let i = 0; i < medicalMarker.length; i++) {
                medicalMarker[i].setMap(map);
            }
        } else {
            for (let i = 0; i < medicalMarker.length; i++) {
                medicalMarker[i].setMap(null);
            }
        }

        if (category === 'hotel') {
            for (let i = 0; i < hotelMarker.length; i++) {
                hotelMarker[i].setMap(map);
            }
        } else {
            for (let i = 0; i < hotelMarker.length; i++) {
                hotelMarker[i].setMap(null);
            }
        }
        cluster(category);
    }

    function clearCluster() {
        clusterer.clear(); // 클러스터러에서 마커 제거
    }

    function cluster(category) {
        clearCluster();
        let markersToAdd;
        if (category === 'service') {
            markersToAdd = serviceMarker;
        } else if (category === 'food') {
            markersToAdd = foodMarker;
        } else if (category === 'travel') {
            markersToAdd = travelMarker;
        } else if (category === 'medical') {
            markersToAdd = medicalMarker;
        } else if (category === 'hotel') {
            markersToAdd = hotelMarker;
        } else if (category === 'shopping') {
            markersToAdd = shoppingMarker;
        }

        if (markersToAdd) {
            clusterer.addMarkers(markersToAdd);
            clusterer.setMap(map);
        }
    }

    //modal창 제어하기
    const closeButton = document.getElementsByClassName("close_button")[0];
    closeButton.addEventListener("click", closeModal);

    function closeModal() {
        const modal = document.getElementById("modal");
        modal.style.display = "none";
    }

    // 모달 닫기 버튼 클릭 시 closeModal 함수 호출
</script>
<script>
    async function getLoc(lat, lon) {
        const apiKey = '8e2aafc9141104413adfd78425609d10'; // 실제 API 키로 변경

        try {
            const response = await fetch(`https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=${lon}&y=${lat}`, {
                headers: {
                    'Authorization': `KakaoAK ${apiKey}`
                },
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();

            // 추출된 region_3depth_name 값 출력
            const regionName1 = data.documents[0].region_1depth_name;
            const regionName2 = data.documents[0].region_3depth_name;

            console.log("Region Name1:", regionName1);
            console.log("Region Name2:", regionName2);
            loc.innerHTML = `${regionName1}`;
            loc2.innerHTML = `${regionName2}`;
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function getForecast(lat, lon) {
        fetch(`https://api.openweathermap.org/data/2.5/forecast?lat=${lat}&lon=${lon}&cnt=10&lang=kr&appid=e27648845eed31c67a61863e536ae668&units=metric`)
            .then(res => res.json())
            .then(data => {
                console.log(data);
                const timefull = data.list[2].dt_txt;
                console.log(timefull);

                let time = (Number)(timefull.charAt(11) + timefull.charAt(12));
                console.log(time);

                const timelist = [];
                for (let i = 0; i < 6; i++) {
                    timelist.push(time + "시");
                    time += 3;
                    if (time == 24) {
                        time = 0;
                    }

                }


                const tempValues = [];
                let j = 0;
                for (let i = 2; i < 8; i++) {
                    const tempValue = data.list[i].main.temp;

                    tempValues.push(tempValue);
                    console.log(tempValues[j++]);

                }
                drawChart(timelist, tempValues);
            })
    }

    //날씨온도차트
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(timelist, tempValues) {
        var data = google.visualization.arrayToDataTable([
            ['시간', '온도'],
            [timelist[0], tempValues[0]],
            [timelist[1], tempValues[1]],
            [timelist[2], tempValues[2]],
            [timelist[3], tempValues[3]],
            [timelist[4], tempValues[4]],
            [timelist[5], tempValues[5]]
        ]);


        const options = {
            curveType: 'function',
            legend: 'none',
            colors: ['black'],
            vAxis: {
                minValue: Math.floor(Math.min(...tempValues)) - 2,
                maxValue: Math.ceil(Math.max(...tempValues)) + 2
            },
            series: {
                0: {
                    pointsVisible: false
                }
            }
        };


        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }

    /* function getWeather(lat, lon) {
       fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=e27648845eed31c67a61863e536ae668&units=metric`)
           .then(res => res.json())
           .then(data => {
               console.log(data);
               const temp = data.main.temp;
               const weathers = data.weather[data.weather.length -1];

               // weatherIcon.src = `https://openweathermap.org/img/wn/${weathers.icon}@2x.png`;
               weatherTemp.innerHTML = `${temp}&#176;`;
               weatherMain.innerHTML = `${weathers.main}`;
           })
   }*/

    function getWeather(lat, lon) {
        fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=e27648845eed31c67a61863e536ae668&units=metric`)
            .then(res => res.json())
            .then(data => {
                console.log(data);

                if (data.weather && data.weather.length > 0) {
                    const temp = data.main.temp;
                    const weathers = data.weather[data.weather.length - 1];

                    weatherIcon.src = `https://openweathermap.org/img/wn/${weathers.icon}@2x.png`;

                    weatherTemp.innerHTML = `${temp}&#176;`;
                    weatherMain.innerHTML = `${weathers.main}`;
                } else {
                    console.error('날씨 데이터를 사용할 수 없습니다.');
                }
            })
            .catch(error => {
                console.error('날씨 데이터를 불러오는 중 오류 발생:', error);
            });
    }


    let strPoll;
    const styPoll = document.querySelector('#weatherPoll');

    function getPollution(lat, lon) {
        fetch(`http://api.openweathermap.org/data/2.5/air_pollution?lat=${lat}&lon=${lon}&appid=e27648845eed31c67a61863e536ae668&units=metric`)
            .then(res => res.json())
            .then(data => {
                console.log(data);
                const pollution = data.list[0].main.aqi;
                console.log("미세먼지 단계: " + pollution);
                switch (Number(pollution)) {
                    case 1:
                        strPoll = " 좋음 ";

                        console.log(strPoll);
                        document.getElementById("weatherPol").style.backgroundColor = 'rgba(133, 193, 223, 0.8)';
                        pollIcon.src = 'https://i.ibb.co/cYVKW63/Smiling.png';
                        break;

                    case 2:
                        strPoll = " 보통 ";
                        console.log(strPoll);
                        document.getElementById("weatherPol").style.backgroundColor = 'rgba(187, 221, 114, 0.8)';
                        pollIcon.src = 'https://i.ibb.co/R32zYGf/Happy.png';
                        break;

                    case 3:
                        strPoll = " 보통 ";
                        console.log(strPoll);
                        document.getElementById("weatherPol").style.backgroundColor = 'rgba(133, 221, 114, 0.8)';
                        pollIcon.src = 'https://i.ibb.co/sRZBSg9/Neutral.png';
                        break;

                    case 4:
                        strPoll = " 나쁨 ";
                        console.log(strPoll);
                        document.getElementById("weatherPol").style.backgroundColor = 'rgba(221, 114, 135, 0.8)';
                        pollIcon.src = 'https://i.ibb.co/dBPD0Nh/Sad.png';
                        break;

                    case 5:
                        strPoll = " 아주 나쁨 ";
                        console.log(strPoll);
                        document.getElementById("weatherPol").style.backgroundColor = 'rgba(221, 114, 135, 0.8)';
                        pollIcon.src = 'https://i.ibb.co/xDtPM8y/Disgusting.png';
                        break;

                    default:
                        strPoll = "테스트";
                        console.log(strPoll);
                        break;
                }
                weatherPol.innerHTML = ` ${strPoll} `;
            })
    }

    // useEffect(() => {
    //   getCurrentLocation();
    // }, []);

</script>


</body>

</html>