<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>반함 Banham</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta content="Pichforest" name="author" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css" type="text/css" />

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Swiper Css -->
    <link rel="stylesheet" href="../static/css/tiny-slider.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/swiper.min.css" type="text/css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="../static/css/style.min.css" type="text/css" />



</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
    <div class="container-fluid custom-container">
        <div>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a class="navbar-brand logo f-30 text-dark fw-bold" href="index.html">
                <img src="../static/images/banham_logo.png" class="logo-dark" alt="" height="40">
            </a>
            <ul class="navbar-nav mx-auto navbar-center">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">홈</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="index.html" id="homedrop" role="button"
                       data-bs-toggle="dropdown">
                        커뮤니티
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                        <li><a class="dropdown-item" href="ProudBoard.html"><i
                                class="mdi f-20 me-2 align-middle"></i>내새끼자랑</a></li>
                        <li><a class="dropdown-item" href="CommunityBoard.html"><i
                                class="mdi f-20 me-2 align-middle"></i>자유게시판</a></li>
                        <li><a class="dropdown-item" href="MagazineBoard.html"><i
                                class="mdi f-20 me-2 align-middle"></i>에디터</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="Adopt.html" id="pagedropdown" role="button" data-bs-toggle="dropdown">
                        입양
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link" href="MissingBoard.html" id="pagedropdown" role="button"
                       data-bs-toggle="dropdown">
                        실종
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                    <a class="nav-link dropdown-toggle" href="Notice.html" id="homedrop" role="button"
                       data-bs-toggle="dropdown">
                        공지사항
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="homedrop">
                        <li><a class="dropdown-item" href="Notice.html"><i
                                class="mdi f-20 me-2 align-middle"></i>공지사항</a></li>
                        <li><a class="dropdown-item" href="Notice.html"><i
                                class="mdi f-20 me-2 align-middle"></i>이벤트</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" onclick="location.href='member/signUp'">회원가입</button>  <!-- 회원가입버튼(태호) -->
                    <button type="button" onclick="location.href='member/login'">로그인</button>  <!-- 회원가입버튼(태호) -->
                </li>
            </ul>
            <!--end navbar-nav-->

            <a href="MyPage.html" class="btn btn-primary">마이페이지</a>
        </div>

    </div>
    <!--end container-->
</nav>
<!-- Navbar End -->

<!-- start kakaomap api service -->
<section class="mt-6 section service bg-light" id="collection">
    <!-- start container -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">

                <div class="mt-5">
                    카카오맵
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end kakaomap api service -->
<!-- start weather service -->
<section class="mt-1 section service bg-light" id="collection">
    <!-- start container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="mt-5">
                    오늘의 날씨
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end weather service -->

<!-- start Best -->
<section class="testimonial section">
    <!-- start container -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="text-gradiant fw-bold">Best</h6>
                <h2 class="fw-bold">오늘의 내새끼 자랑</h2>
                <p class="text-muted">우리집 새끼 말랑말랑 젤리 맛좀보세요</p>
            </div>
        </div>

        <div class="testi-slider" id="testi-slider">
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="../static/images/img-1.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-1.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">강아지가 멍멍</h5>
                        <p class="text-muted">강아지가 멍멍멍</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기</button>
                    </div>
                </div>
            </div>
            <!-- slider item -->

            <div class="item">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="../static/images/img-2.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-2.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">강아지가 야옹</h5>
                        <p class="text-muted">강아지가 야옹</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기</button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="../static/images/img-3.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-3.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">강아지가 멍멍</h5>
                        <p class="text-muted">강아지가 멍멍멍</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기</button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="item ">
                <div class="testi-box p-4 position-relative">
                    <div class="tab-image">
                        <img src="../static/images/img-4.png" alt="" class="img-fluid">
                        <!-- <div class="avatar-xl">
                          <img src="images/img-4.png" alt=""
                              class="img-fluid rounded-circle border border-3 border-white">
                      </div> -->
                    </div>
                    <div class="mt-5 text-center">
                        <h5 class="fw-bold">고양이가 멍멍</h5>
                        <p class="text-muted">고양이가 멍멍멍</p>
                        <button class="btn btn-sm btn-primary"><i class="mdi mdi-plus f-16 align-middle"></i>
                            구경하러가기</button>
                    </div>
                </div>
            </div>
            <!-- slider item -->
        </div>
        <!-- End slider -->
    </div>
    <!-- end container -->
</section>
<!-- end Best -->

<!-- start home -->
<section class="home bg-image" id="home">
    <!-- start container -->
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="home-content home-heading">
                    <h2 class="fw-bold">#사지말고 입양 해주세요 <span class="text-primary"> </h2>
                    <p class="text-muted my-4"> 따뜻한 보금자리를 기다리는 동물들에게 새로운 가족이 되어주세요.</p>
                    <button class="btn btn-dark">더보기</button>
                </div>
                <div class="client-slider" id="clients-slider">
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>

            <div class="col-lg-6">
                <div class="home-content home-heading">
                    <h2 class="fw-bold">#실종 전단지 <span class="text-primary"> </h2>
                    <p class="text-muted my-4">
                        동물을 빨리 찾을 수 있도록 분실관련 정보를 공유하는 공간입니다</p>
                    <button class="btn btn-dark">더보기</button>
                </div>
                <div class="client-slider2" id="clients-slider">
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">경기도 남양주시</p>
                                <h5 class="fw-bold">복돌이를 찾아주세요</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                    <div class="item">
                        <div class="card position-relative overflow-hidden m-2 m-lg-0">
                            <img src="../static/images/img-1.png" alt="logo-img" class="img-fluid">
                            <div class="card-body slider-content position-relative">
                                <p class="mb-2">귀여운 발바닥이 매력적</p>
                                <h5 class="fw-bold">너무귀엽고 귀엽다</h5>
                                <button class="btn btn-sm btn-primary">
                                    확인하기</button>
                            </div>
                        </div>
                    </div>
                    <!-- slider item -->
                </div>
                <!-- End slider -->
            </div>



        </div>
    </div>
    <!-- end container -->
</section>
<!-- end home -->



<!-- start notice -->
<section class="mt-6 section service bg-light" id="collection">
    <!-- start container -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">

            </div>
        </div>

    </div>
    <!-- end container -->
</section>
<!-- end notice -->
<!-- start footer -->
<section class="footer">
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-info mt-4">
                        <a class="logo f-30 text-dark fw-bold" href="index.html">
                            <img src="../static/images/banham_logo.png" class="logo-dark" alt="" height="40">
                            <img src="../static/images/logo-light.png" class="logo-light" alt="" height="40">
                        </a>
                        <p class="f-18 mt-4 text-muted">
                            반려동물과 함께.<br> 반함 커뮤니티 활동모임 입니다. <br>
                        </p>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="mt-4 pl-0 pl-lg-4">
                        <h5 class="f-18 fw-bold">SNS</h5>
                        <ul class="list-inline social-icons-list pt-3">
                            <li class="list-inline-item">
                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="mdi mdi-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="mdi mdi-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p class="my-4 text-muted">©
                        <script>document.write(new Date().getFullYear())</script> teami <i
                                class="mdi mdi-heart text-danger"></i> by <a href="https://github.com/Taeho-P/Banham"
                                                                             target="_blank" class="text-reset">BanHam</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="scrolltop">
    <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
</div>
<!--Bootstrap Js-->
<script src="../static/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="../static/js/tiny-slider.js"></script>
<script src="../static/js/swiper.min.js"></script>

<!-- Slick JS -->
<script src="../static/js/slick.js"></script>

<!-- counter -->
<script src="../static/js/counter.init.js"></script>

<!-- App Js -->
<script src="../static/js/app.js"></script>


<script>
    var slider = tns({
        container: '.client-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: true,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 1.5
            },

        }
    });

</script>
<script>
    var slider = tns({
        container: '.client-slider2',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: false,
        navPosition: "bottom",
        nav: true,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 1.5
            },

        }
    });

</script>

<script>
    new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        pagination: '.swiper-pagination',
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        speed: 1500,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
</script>


<script>
    var slider = tns({
        container: '.testi-slider',
        loop: true,
        autoplay: true,
        mouseDrag: true,
        controls: true,
        navPosition: "bottom",
        nav: false,
        autoplayTimeout: 4000,
        speed: 900,
        animateIn: "fadeIn",
        animateOut: "fadeOut",
        controlsText: ['&#8592;', '&#8594;'],
        autoplayButtonOutput: false,
        gutter: 30,
        responsive: {

            992: {
                gutter: 30,
                items: 3
            },

        }
    });

</script>

<script>
    const infoSwiper = {
        init() {
            let $infoSwiper = document.querySelector(".info-swiper");

            if ($infoSwiper) {
                var swiper = new Swiper(".info-swiper", {
                    loop: true,
                    /* autoplay: {
                        delay: 3000,
                    }, */
                    slidesPerView: 1,
                    spaceBetween: 10,
                    direction: "vertical",
                    navigation: {
                        nextEl: ".notice-next",
                        prevEl: ".notice-prev",
                    },
                    speed: 900,
                    autoplay: {
                        delay: 2000,
                    },
                });
            }
        },
    };



</script>

</body>

</html>