<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>반함 에디터</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=" "/>
  <meta name="keywords" content=""/>
  <meta content="Pichforest" name="author"/>

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

  <!-- Material Icon Css -->
  <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css" />

  <!-- Unicon Css -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

  <!-- Ajax를 사용하기 위한 JQuery CDN 적용 -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Start Navbar-->
  <div th:replace="/header :: header"></div>
<!--end Navbar-->

<!-- Start MagazineBoard -->
<section class="section position-relative overflow-hidden"
         style=" top: 95px;">

  <div class="content-wrapper container ">
    <div class="row mt-4">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb default mb-0">
            <li class="breadcrumb-item">
              <a href="index.html" class="text-muted">홈</a>
            </li>
            <li class="breadcrumb-item active text-primary" aria-current="page">에디터추천</li>
          </ol>
        </nav>
      </div>
    </div>

  </div>
</section>
<section class="inner-blog section ">
  <!-- start container -->
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h2 class="fw-bold">반함 에디터 Pick 가이드</h2>
        <p class="text-muted">누구나 갈 수 있는 특별한 장소 가이드 </p>
      </div>
    </div>
    <hr class="my-4">

    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item mt-4">
              <div class="blog-image position-relative">
                <img src="https://peton.me/data/file/peton_pick/thumb/2041223848_230901_49c7cfc2f15962281a071d36d2f73a6b4fde214c.png" alt="" class="img-fluid">
                <div class="position-absolute top-0 end-0 mt-2 me-2 f-18">
                  <span class="badge rounded-pill bg-white py-2 px-2 text-muted"><span><i
                          class="mdi mdi-message-text-outline align-middle"></i> 1</span>
                      <span class="ms-2"><i class="mdi mdi-eye align-middle"></i>2312</span>
                      <span class="ms-2"><i class="mdi mdi-heart"></i>4</span>
                  </span>
                </div>
              </div>
              <div class="blog-content mt-3">
                <h5 class="fw-bold slider-overtext">보령머드축제 올해 첫 개장 충남 반려견 동반 여행지</h5>
                <p class="text-muted f-15 mb-3 slider-overtext">#여름휴가 #여행지추천 #대천해수욕장</p>
              </div>
            </div>
          </div>







        </div>

      </div>



    </div>

  </div>
  <!-- end container -->
</section>

<!-- End MagazineBoard -->
<!-- Start footer-->
  <div th:replace="/footer :: footer"></div>
<!-- end footer-->

<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>

<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
</body>

</html>