<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>반함 회원가입</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css" />

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

    <!-- Ajax를 사용하기 위한 JQuery CDN 적용 -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <div th:replace="/header :: header"></div>
</header>
<!--end Navbar-->

<!-- Start SignUp-->
<!-- start section -->
<section class="home section position-relative overflow-hidden"
         style="background-image: url(/images/login_bg.png); background-repeat: no-repeat; background-size: cover;top: 85px;">
    <!-- start container -->
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-lg-11">
                <div class="inner-heading">
                    <h1 class="fw-bold">회원가입</h1>
                    <p class="fw-semibold">반려동물과 함께 행복해지는 첫 걸음. 반함에 어서오세요.
                        </p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center col-lg-12">
            <div class="info-box">
                <div class="row">
                    <!-- name속성 : 서버로 전송할때 변수 이름의 역할 -->
                    <form action="/member/signUp" method="post" onsubmit="return joinCheck(this);">
                    <div class="col-lg-10 offset-lg-1">
                        <div class=" mt-4">
                            <div class="mt-3">
                                <div class="Name">
                                    <!-- 아이디 입력 영역 -->

                                    <label for="memberId" class="form-label fw-semibold">아이디<span class="color1">*</span> : </label>
                                    <input type="text" class="form-control" id="memberId" name="memberId"
                                           placeholder="아이디를 입력해주세요." onblur="idCheck()" >
                                    <p id="id_check_result"></p>

                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="Name">
                                    <!-- 비밀번호 입력 영역 -->
                                    <div>
                                    <label for="memberPass" class="form-label fw-semibold">비밀번호 : </label>
                                    <input type="password" id="memberPass" name="memberPass" onblur="passCheck1()" class="form-control"
                                           placeholder="비밀번호를 입력해주세요" >
                                    </div>
                                    <div class="mt-2">
                                        <label for="passCheck" class="form-label fw-semibold">비밀번호확인 : </label>
                                        <input type="password" id="passCheck" name="passCheck" onblur="passCheck1()" class="form-control"
                                               placeholder="비밀번호를 한번더 입력해주세요" >
                                        <p id="pass_check_result"></p>
                                    </div>

                                </div>
                            </div>


                            <div class="mt-4">
                                <div class="Name">
                                    <!-- 닉네임 입력 영역 -->
                                    <div>
                                        <label for="memberNick" class="form-label fw-semibold">닉네임 : </label>
                                        <input type="text" id="memberNick" name="memberNick" onblur="nickCheck()" class="form-control"
                                               placeholder="사용할 닉네임을 입력해주세요" >
                                        <p id="nick_check_result"></p>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="Name">
                                    <!-- 이메일 입력 영역 -->
                                    <div>
                                        <label for="memberMail" class="form-label fw-semibold">이메일 : </label>
                                        <input type="text" id="memberMail" name="memberMail" onblur="mailCheck()" class="form-control"
                                               placeholder="사용할 이메일을 입력해주세요" >
                                        <button type="button" class="btn btn-sm btn-blue mt-3" id="btnConfirm" disabled="disabled" onclick="mailConfirm1()">메일 인증</button>
                                        <p id="mail_check_result"></p>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4">
                                <div class="Name">
                                    <!-- 이메일 인증문자 입력 영역 -->
                                    <div>
                                        <label for="mailConfirm" class="form-label fw-semibold">인증 문자 : </label>
                                        <input type="text" id="mailConfirm" name="mailConfirm" onblur="confirmCheck()" class="form-control"
                                               placeholder="인증 코드를 입력해주세요.">
                                        <p id="confirm_check_result"></p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                        <!-- 회원가입 (submit) 버튼 -->
                        <div class="submit-button text-center">
                            <button class="btn btn-primary w-100" type="submit" value="회원가입" >회원가입하기</button>
                        </div>
                    </form>
                    <hr class="my-4">

<!--                    <p class="text-muted">회원가입하면 다양한 혜택이 있습니다 </p>-->


                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- start footer -->
<footer>
    <div th:replace="/footer :: footer"></div>
</footer>
<!-- end footer-->
<!-- end SignUp-->

        <!--Bootstrap Js-->
        <script src="/js/bootstrap.bundle.min.js"></script>

        <!-- Slider Js -->
        <script src="/js/tiny-slider.js"></script>
        <script src="/js/swiper.min.js"></script>

        <!-- counter -->
        <script src="/js/counter.init.js"></script>

        <!-- App Js -->
        <script src="/js/app.js"></script>
    </body>


<script th:inline="javascript">
    const idCheck = () => {   // 입력한 아이디의 유효 검사 및 중복 검사 메소드

        const id = document.querySelector("#memberId").value;  //getElementById가 작동을 안해서 querySelector사용함
        const checkResult = document.querySelector("#id_check_result");
        console.log("입력값: ", id);

        let check_id = RegExp(/^[a-zA-Z0-9]{4,14}$/); // 아이디 유효성 검사 (영문 및 숫자 4-14글자)

        if(id == '' || id == null) {
            checkResult.innerHTML = "아이디를 입력해주세요.";
            checkResult.style.color = "black";
        } else if (!check_id.test(id)) {
            checkResult.innerHTML = "아이디는 영문 및 숫자 4-14글자로 작성해주세요.";
            checkResult.style.color = "black";
        } else {
            $.ajax({
                //요청방식 post
                //주소 "/member/id_check"
                type: "post",
                url: "/member/id_check",
                data: {
                    "memberId": id
                },

                success: function (res) {
                    if(res == 'ok') {
                        checkResult.innerHTML = "사용 가능한 아이디 입니다.";
                        checkResult.style.color = "green";
                        console.log("사용 가능한 아이디입니다.")
                    } else {
                        checkResult.innerHTML = "이미 사용중인 아이디입니다.";
                        checkResult.style.color = "red";
                        console.log("이미 사용중인 아이디입니다.")
                    }
                    console.log("요청성공", res);
                },
                error: function (err) {
                    console.log("에러발생", err);
                }
            })
        }
    }  // ID 유효성검사 및 중복체크 메소드 end


    const passCheck1 = () => { //비밀번호 입력, 재입력 확인 및 유효성 검사 메소드

        const pass = document.querySelector("#memberPass").value; //비밀번호 입력값
        const passCheck = document.querySelector("#passCheck").value; //비밀번호 확인 입력값
        let check_pw = RegExp(/^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,20}$/); // 비밀번호 유효성 검사 (영문 및 숫자 특수문자 8-20글자)
        const checkResult = document.querySelector("#pass_check_result"); //비밀번호 입력, 재입력 확인 및 유효성 검사 결과값

        if (pass == "" || pass == null || passCheck == "" || passCheck == null) { //비밀번호, 비밀번호 확인값 입력여부 확인
            checkResult.innerHTML = "비밀번호 및 비밀번호 확인을 입력해주세요.";
            checkResult.style.color = "black";
        } else if (!check_pw.test(passCheck)) { //비밀번호 확인 유효성 검사
            checkResult.innerHTML = "비밀번호는 영문 및 숫자, 특수문자를 사용한 8-20글자로 작성해주세요.";
            checkResult.style.color = "red";
        } else if (!check_pw.test(pass)) {  //비밀번호 유효성 검사
            checkResult.innerHTML = "비밀번호는 영문 및 숫자, 특수문자를 사용한 8-20글자로 작성해주세요.";
            checkResult.style.color = "red";
        } else if (pass.toString() != passCheck.toString()) { //비밀번호 입력값과 비밀번호 확인 입력값이 같은지 확인
            checkResult.innerHTML = "비밀번호 확인이 일치하지 않습니다.";
            checkResult.style.color = "red";
        } else {
            checkResult.innerHTML = "사용 가능한 비밀번호입니다.";
            checkResult.style.color = "green";
        }
    } //비밀번호 입력, 재입력 확인 및 유효성 검사 메소드 end


    const nickCheck = () => {   // 입력한 닉네임의 유효 검사 및 중복 검사 메소드

        const nickname = document.querySelector("#memberNick").value;  // 입력된 닉네임값
        const checkResult = document.querySelector("#nick_check_result"); // 닉네임 유효성 검사 및 중복검사 결과값

        let check_nick = RegExp(/^[a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]{2,8}$/); // 닉네임 유효성 검사 (영문,한글 및 숫자 2-8글자)

        if(nickname == '' || nickname ==null) {
            checkResult.innerHTML = "닉네임을 입력해주세요.";
            checkResult.style.color = "black";
        } else if (!check_nick.test(nickname)) {
            checkResult.innerHTML = "닉네임은 영문,한글 및 숫자 2-8글자로 작성해주세요.";
            checkResult.style.color = "black";
        } else {
            $.ajax({
                //요청방식 posd
                //주소 "/member/nick_check"
                type: "post",
                url: "/member/nick_check",
                data: {
                    "memberNick": nickname
                },

                success: function (res) {
                    if(res == 'ok') {
                        checkResult.innerHTML = "사용 가능한 닉네임 입니다.";
                        checkResult.style.color = "green";
                        console.log("사용 가능한 닉네임입니다.")
                    } else {
                        checkResult.innerHTML = "이미 사용중인 닉네임입니다.";
                        checkResult.style.color = "red";
                        console.log("이미 사용중인 닉네임입니다.")
                    }
                    console.log("요청성공", res);
                },
                error: function (err) {
                    console.log("에러발생", err);
                }
            })
        }
    }  // 입력한 닉네임의 유효 검사 및 중복 검사 메소드 end


    const mailCheck = () => { // 이메일 유효성 검사 및 중복체크 메소드

        const mail = document.querySelector("#memberMail").value; //사용자 입력 이메일 값
        const checkResult = document.querySelector("#mail_check_result");

        let check_mail = new RegExp("([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|\"\(\[\]!#-[^-~ \t]|(\\[\t -~]))+\")@([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|\[[\t -Z^-~]*])"); //이메일 검증을 위한 RFC 5322 형식의 정규식

        if(mail == "" || mail == null) {
            checkResult.innerHTML = "이메일을 입력해주세요."
            checkResult.style.color = "black"
            $("#btnConfirm").attr("disabled", true);
        } else if (!check_mail.test(mail)) {
            checkResult.innerHTML = "이메일 형식을 올바르게 입력해주세요."
            checkResult.style.color = "black"
            $("#btnConfirm").attr("disabled", true);
        } else {
            $.ajax({
                //요청방식 post
                //주소 "/member/mail_check"
                type: "post",
                url: "/member/mail_check",
                data: {
                    "memberMail": mail
                },

                success: function (res) {
                    if(res == 'ok') {
                        checkResult.innerHTML = "사용 가능한 이메일입니다.";
                        checkResult.style.color = "green";
                        console.log("사용 가능한 이메일입니다.");
                        $("#btnConfirm").attr("disabled", false);
                    } else {
                        checkResult.innerHTML = "이미 가입된 이메일입니다.";
                        checkResult.style.color = "red";
                        console.log("중복된 이메일입니다.");
                        $("#btnConfirm").attr("disabled", true);
                    }
                    console.log("요청성공", res);

                },
                error: function (err) {
                    console.log("에러발생", err);
                    alert("이메일 중복 체크 작업중 에러 발생")
                }

            })
        }
    } // 이메일 유효성 검사 및 중복체크 메소드 end


    const mailConfirm1 = () => { // 인증코드 발송 메소드

        const email = document.querySelector("#memberMail").value; // 입력된 이메일값
        const ePw = document.querySelector("#ePw"); //인증 문자열을 저장해둘 input

        $.ajax({
            type : "POST",
            url : "/member/join/mailConfirm",
            data : {
                "email" : email
            },
            success : function(data){
                alert("해당 이메일로 인증번호 발송이 완료되었습니다. 확인부탁드립니다.")
                console.log("data : "+data);
                sessionStorage.setItem("ePw", data);

            },
            error : function (data) {
                alert("이메일 인증 도중 에러 발생" + data);
                console.log("data : " + data);
            }
        })
    } // 인증코드 발송 메소드 end


    const confirmCheck = () => { //이메일 인증코드 확인 메소드
        const mailConfirm = document.querySelector("#mailConfirm").value; //사용자가 입력한 인증문자열
        const ePw = sessionStorage.getItem("ePw"); //실제 발송한 문자열
        const checkResult = document.querySelector("#confirm_check_result"); //확인 결과창

        console.log(ePw.toString());

        if (mailConfirm == '' || mailConfirm == null) {
            checkResult.innerHTML = "전송된 인증코드를 입력해주세요.";
            checkResult.style.color = "black";
        } else if (mailConfirm == ePw.toString()) {
            checkResult.innerHTML = "이메일 인증이 완료됐습니다."
            checkResult.style.color = "green";
        } else {
            checkResult.innerHTML = "잘못된 인증코드입니다. 전송된 이메일을 확인해주세요.";
            checkResult.style.color = "red";
        }

    } ////이메일 인증코드 확인 메소드 end


    const joinCheck = () => { //submit 실행시 각각의 정보가 잘 입력됐는지 체크하는 메소드 실행후 통과해야 submit진행
        console.log("joinCheck호출......")

        const id_checked = document.querySelector("#id_check_result").innerHTML.toString(); // ID유효성 및 중복 검사 결과값
        const pass_checked = document.querySelector("#pass_check_result").innerHTML.toString(); // 비밀번호 확인 결과값
        const nick_checked = document.querySelector("#nick_check_result").innerHTML.toString(); // 닉네임 중복 검사 결과값
        const mail_checked = document.querySelector("#mail_check_result").innerHTML.toString(); // 이메일 중복 검사 결과값
        const confirm_checked = document.querySelector("#confirm_check_result").innerHTML.toString() //이메일 인증 결과값

        if (id_checked == '' || id_checked == null || id_checked == "아이디를 입력해주세요." || id_checked == "아이디는 영문 및 숫자 4-14글자로 작성해주세요.") {
            alert("아이디를 확인해주세요.");
            return false;
        }

        if (id_checked == "이미 사용중인 아이디입니다.") {
            alert("이미 사용중인 아이디입니다.");
            return false;
        }

        if (pass_checked == "" || pass_checked == null || pass_checked == "비밀번호 및 비밀번호 확인을 입력해주세요." || pass_checked == "비밀번호 확인이 일치하지 않습니다.") {
            alert("비밀번호를 확인해주세요.");
            return false;
        }

        if (pass_checked == "비밀번호는 영문 및 숫자, 특수문자를 사용한 8-20글자로 작성해주세요.") {
            alert("비밀번호는 영문 및 숫자, 특수문자를 사용한 8-20글자로 작성해주세요.");
            return false;
        }

        if (nick_checked == "닉네임을 입력해주세요." || nick_checked == "" || nick_checked == null) {
            alert("닉네임을 입력해주세요.");
            return false;
        }

        if (nick_checked == "닉네임은 영문,한글 및 숫자 2-8글자로 작성해주세요.") {
            alert("닉네임은 영문,한글 및 숫자 2-8글자로 작성해주세요.");
            return false;
        }

        if (nick_checked == "이미 사용중인 닉네임입니다.") {
            alert("이미 사용중인 닉네임입니다.");
            return false;
        }

        if (mail_checked == "" || mail_checked == null || mail_checked == "이메일을 입력해주세요.") {
            alert("이메일을 입력해주세요." );
            return false;
        }

        if (mail_checked == "이메일 형식을 올바르게 입력해주세요.") {
            alert("이메일 형식을 올바르게 입력해주세요.");
            return false;
        }

        if (mail_checked == "이미 가입된 이메일입니다.") {
            alert("이미 가입된 이메일입니다.");
            return false;
        }

        if (confirm_checked == "" || confirm_checked == null) {
            alert("이메일 인증을 진행해주세요.");
            return false;
        }

        if (confirm_checked == "전송된 인증코드를 입력해주세요.") {
            alert("전송된 인증코드를 입력해주세요.");
            return false;
        }

        if(confirm_checked == "잘못된 인증코드입니다. 전송된 이메일을 확인해주세요.") {
            alert("잘못된 인증코드입니다. 전송된 이메일을 확인해주세요.");
            return false;

        } else {
            sessionStorage.removeItem("ePw");
            alert("회원가입을 축하합니다!");
        }
    }  //onsubmit 메소드 end
</script>
</html>