<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 댓글 목록</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <!-- Bootstrap css -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style"/>

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css"/>

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>

</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->
<section class="section position-relative overflow-hidden"
         style="background-image: url(/images/login_bg.png); background-repeat: no-repeat; background-size: cover;top: 95px;">
    <div class="content-wrapper container ">
        <div class="row mt-4">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb default mb-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-muted">홈</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/member/MyPage" class="text-muted">마이페이지</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">내가 작성한 글 목록</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="section position-relative overflow-hidden"
         style=" top: 90px; padding-bottom: 90px;">
    <div class="content-wrapper container ">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="fw-bold">내가 작성한 글 목록</h2>
                <p class="text-muted">내가 작성한 글들을 한눈에 확인할 수 있어요.<i class="mdi mdi-text-box text-blue"></i></p>
            </div>
        </div>
    </div>
</section>
<hr class="my-4">
<section class="flexbox pb-3">
    <div class="container">
        <h4>자유게시판 글 목록</h4>
        <div class="container mt-3">
            <div class="demo-wrapper content-block pb-0">
                <div class="table data-table">
                    <table class="table table-responsive">
                        <colgroup>
                            <col width="60%"/>
                            <col width="13.33%"/>
                            <col width="13.33%"/>
                            <col width="13.33%"/>
                        </colgroup>
                        <thead class="bgl-gray-light">
                        <tr>
                            <th class="text-center">제목</th>
                            <th class="text-center">작성자</th>
                            <th class="text-center">작성일</th>
                            <th class="text-center">조회수</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board: ${communityBoardList}">
                            <td><a class="slider-overtext"th:href="@{|/board/community/${board.bno}|}" th:text="${board.title}"></a></td>
                            <td  class="text-center"th:text="${board.writer}"></td>
                            <td  class="text-center"th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
                            <td  class="text-center"th:text="${board.hits}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="flexbox pb-3">
        <div class="container">
            <h4>내새끼 자랑 글 목록</h4>
            <div class="container mt-3">
                <div class="demo-wrapper content-block pb-0">
                    <div class="table data-table">
                        <table class="table table-responsive">
                            <colgroup>
                                <col width="60%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                            </colgroup>
                            <thead class="bgl-gray-light">
                            <tr>
                                <th class="text-center">제목</th>
                                <th class="text-center">작성자</th>
                                <th class="text-center">작성일</th>
                                <th class="text-center">조회수</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board: ${proudBoardList}">
                                <td><a  class="slider-overtext" th:href="@{|/board/proud/${board.bno}|}" th:text="${board.title}"></a></td>
                                <td  class="text-center"th:text="${board.writer}"></td>
                                <td  class="text-center"th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
                                <td  class="text-center"th:text="${board.hits}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="flexbox pb-3">
        <div class="container">
            <h4>에디터 글 목록</h4>
            <div class="container mt-3">
                <div class="demo-wrapper content-block pb-0">
                    <div class="table data-table">
                        <table class="table table-responsive">

                            <colgroup>
                                <col width="60%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                            </colgroup>
                            <thead class="bgl-gray-light">
                            <tr>
                                <th class="text-center">제목</th>
                                <th class="text-center">작성자</th>
                                <th class="text-center">작성일</th>
                                <th class="text-center">조회수</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board: ${editorBoardList}">
                                <td><a class="slider-overtext" th:href="@{|/board/Editor/${board.bno}|}" th:text="${board.boardTitle}"></a></td>
                                <td  class="text-center"th:text="${board.boardWriter}"></td>
                                <td  class="text-center"th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
                                <td  class="text-center"th:text="${board.boardHits}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="flexbox pb-3">
        <div class="container">
            <h4>공지사항 글 목록</h4>
            <div class="container mt-3">
                <div class="demo-wrapper content-block pb-0">
                    <div class="table data-table">
                        <table class="table table-responsive">
                            <colgroup>
                                <col width="15%"/>
                                <col width="45%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                                <col width="13.33%"/>
                            </colgroup>
                            <thead class="bgl-gray-light">
                            <tr>
                                <th class="text-center">종류</th>
                                <th class="text-center">제목</th>
                                <th class="text-center">작성자</th>
                                <th class="text-center">작성일</th>
                                <th class="text-center">조회수</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board: ${noticeBoardList}">
                                <td  class="text-center"th:if="${board.eorN=='N'}">[공지사항]</td>
                                <td  class="text-center"th:if="${board.eorN=='E'}">[이벤트]</td>
                                <td><a class="slider-overtext" th:href="@{|/board/Notice/${board.bno}|}" th:text="${board.boardTitle}"></a></td>
                                <td  class="text-center"th:text="${board.boardWriter}"></td>
                                <td  class="text-center"th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
                                <td  class="text-center"th:text="${board.boardHits}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
<!-- Start footer-->
<div th:replace="/footer :: footer"></div>
<!-- end footer-->

</body>
<!--Bootstrap Js-->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Slider Js -->
<script src="/js/tiny-slider.js"></script>
<script src="/js/swiper.min.js"></script>

<!-- counter -->
<script src="/js/counter.init.js"></script>

<!-- App Js -->
<script src="/js/app.js"></script>

<!-- Scrollup -->
<script src="/js/jquery.scrollUp.min.js"></script>
</html>