<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 글</title>
</head>
<body>

<h2>자유게시판 글 목록</h2>
<div class="container mt-3">
    <div class="demo-wrapper content-block pb-0">
        <div class="table data-table">
            <table class="table table-responsive">
                <!--    <tr>-->
                <!--        <th>종류</th>-->
                <!--        <th>제목</th>-->
                <!--        <th>작성자</th>-->
                <!--        <th>작성일</th>-->
                <!--        <th>조회수</th>-->
                <!--    </tr>-->
                <colgroup>
                    <col width="60%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                </colgroup>
                <thead class="bgl-gray-light">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${communityBoardList}">
                    <td><a th:href="@{|/board/community/${board.bno}|}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.hits}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<h2>내새끼 자랑 글 목록</h2>
<div class="container mt-3">
    <div class="demo-wrapper content-block pb-0">
        <div class="table data-table">
            <table class="table table-responsive">
                <!--    <tr>-->
                <!--        <th>종류</th>-->
                <!--        <th>제목</th>-->
                <!--        <th>작성자</th>-->
                <!--        <th>작성일</th>-->
                <!--        <th>조회수</th>-->
                <!--    </tr>-->
                <colgroup>
                    <col width="60%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                </colgroup>
                <thead class="bgl-gray-light">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${proudBoardList}">
                    <td><a th:href="@{|/board/proud/${board.bno}|}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.hits}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<h2>에디터 글 목록</h2>
<div class="container mt-3">
    <div class="demo-wrapper content-block pb-0">
        <div class="table data-table">
            <table class="table table-responsive">
                <!--    <tr>-->
                <!--        <th>종류</th>-->
                <!--        <th>제목</th>-->
                <!--        <th>작성자</th>-->
                <!--        <th>작성일</th>-->
                <!--        <th>조회수</th>-->
                <!--    </tr>-->
                <colgroup>
                    <col width="60%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                </colgroup>
                <thead class="bgl-gray-light">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${editorBoardList}">
                    <td><a th:href="@{|/board/Editor/${board.bno}|}" th:text="${board.boardTitle}"></a></td>
                    <td th:text="${board.boardWriter}"></td>
                    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.boardHits}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<h2>공지사항 글 목록</h2>
<div class="container mt-3">
    <div class="demo-wrapper content-block pb-0">
        <div class="table data-table">
            <table class="table table-responsive">
                <!--    <tr>-->
                <!--        <th>종류</th>-->
                <!--        <th>제목</th>-->
                <!--        <th>작성자</th>-->
                <!--        <th>작성일</th>-->
                <!--        <th>조회수</th>-->
                <!--    </tr>-->
                <colgroup>
                    <col width="15%"/>
                    <col width="45%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                    <col width="13.33%"/>
                </colgroup>
                <thead class="bgl-gray-light">
                <tr>
                    <th class="text-center">종류</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${noticeBoardList}">
                    <td th:if="${board.eorN=='N'}">[공지사항]</td>
                    <td th:if="${board.eorN=='E'}">[이벤트]</td>
                    <td><a th:href="@{|/board/Notice/${board.bno}|}" th:text="${board.boardTitle}"></a></td>
                    <td th:text="${board.boardWriter}"></td>
                    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.boardHits}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>