<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />


    <!--css add-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" "/>
    <meta name="keywords" content=""/>
    <meta content="Pichforest" name="author"/>

    <!-- Bootstrap css -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" id="bootstrap-style" />

    <!-- Material Icon Css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" type="text/css" />

    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

    <!--/css add-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/adopt/scripts/content.css}" />


    <title>입양 게시판</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-navlist" data-bs-offset="71">
<!--Start Navbar-->
<div th:replace="/header :: header"></div>
<!--end Navbar-->
<section class="section position-relative overflow-hidden"  style=" top: 95px; margin-bottom:5%;">
    <div class="content-wrapper mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="fw-bold">자유게시판 글쓰기</h2>
                </div>
            </div>
            <hr class="my-4">
            <div class="form-group row">
            <div class="col-lg-12">

                <form id="saveForm" method="post" autocomplete="off" enctype="multipart/form-data">
                <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
<!--                <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.id}" />-->

                <input type="hidden" id="writer" name="writer" th:value="${session.loginDTO.getMno()}" />
                <input type="hidden" id="memNick" name="memNick" th:value="${session.loginDTO.getMemberNick()}" />
                <!--/* 삭제 처리할 파일 번호 */-->
                <input type="hidden" id="removeFileIds" name="removeFileIds" />
                 <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">동물 종류</th>
                        <td colspan="3">
                            <input type="radio" id="aniType_d" name="aniType" value=1>강아지
                            <input type="radio" id="aniType_c" name="aniType" value=2>고양이
                            <input type="radio" id="aniType_e" name="aniType" value=0>기타
                        </td>
                    </tr>

                    <tr>
                        <th>제목 <span class="es">필수 입력</span></th>
                        <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요." /></td>
                    </tr>

                    <tr>
                        <th>내용 <span class="es">필수 입력</span></th>
                        <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요." style="white-space: pre-wrap;"></textarea></td>
                    </tr>

                    <tr>
                        <th>첨부파일</th>
                        <td colspan="3">
                            <div class="file_list">
                                <div>
                                    <div class="file_input">
                                        <input type="text" readonly />
                                        <label> 첨부파일
                                            <input type="file" name="files" onchange="selectFile(this);" />

                                        </label>
                                    </div>
                                    <!--이미지 고쳐야함-->
<!--                                    <img id ="preview" style="width: 100px; height: 100px"/>-->
                                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                                    <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
                <div class="section">
                    <div class="modal-footer justify-content-end ">
                     <p class="btn_set">
                      <button type="button" onclick="goListPage();" class="btn btn-none btn-sm cursor">뒤로</button>
                     <button type="button" id="saveBtn" onclick="savePost();" class="btn btn-primary btn-sm cursor">저장</button>
                     </p>
                    </div>
                </div>

    </div> <!--/* .content */-->
                </div>
        </div>
    </div>
</section>
</body>
    <script th:inline="javascript">
        /*<![CDATA[*/



        // 파일 삭제 처리용 익명 함수
        const removeFileId = (function() {
            const ids = [];
            return {
                add(id) {
                    if (ids.includes(id)) {
                        return false;
                    }
                    ids.push(id);
                },
                getAll() {
                    return ids;
                }
            }
        }());


        window.onload = () => {
            findBoard();
            findAllFile();
        }

        
        // (수정 접근시)게시글 상세정보 렌더링
        function findBoard() {

            const id = [[ ${id} ]];

            if ( !id ) {
                console.log("false");
                return false;
            }

            fetch(`/api/missing/${id}`).then(response => {
                if (!response.ok) {
                    throw new Error('Request failed...');
                }
                return response.json();

            }).then(json => {
                const form = document.getElementById('saveForm');

                const dog = document.getElementById('aniType_d');
                const cat = document.getElementById('aniType_c');
                const etc = document.getElementById('aniType_e');

                const radio = json.aniType;
                console.table(json);
                console.log("radio "+ radio);
                form.title.value = json.title;
                form.content.value = json.content;
                form.memNick.value = json.memNick;

                if(radio == '1'){
                    dog.checked = true;
                }else if(radio == '2'){
                    cat.checked = true;
                }else {
                    etc.checked = true;
                }



            }).catch(error => {
                alert('게시글 정보를 찾을 수 없습니다.');
                location.href = '/board/missing';
            });
        }


        // 등록일 초기화
        function initCreatedDate() {
            document.getElementById('createdDate').value = dayjs().format('YYYY-MM-DD');
        }


        // 게시글 저장(수정)
        function savePost() {
            const form = document.getElementById('saveForm');
            // const fields = [form.title, form.writer, form.content];
            // const fieldNames = ['제목', '이름', '내용'];
            //
            // for (let i = 0, len = fields.length; i < len; i++) {
            //     isValid(fields[i], fieldNames[i]);
            // }


            new URLSearchParams(location.search).forEach((value, key) => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = key;
                input.value = value;
                form.append(input);
            })

            document.getElementById('saveBtn').disabled = true;

            const id = [[ ${id} ]];
            form.removeFileIds.value = removeFileId.getAll().join(); // 추가
            form.action =  ( id ) ? `/api/missing/${id}` : '/api/missing/test';
            form.submit();
        }


        // 게시글 리스트 페이지로 이동
        function goListPage() {
            const queryString = new URLSearchParams(location.search);
            queryString.delete('id');
            location.href = '/post/list.do' + '?' + queryString.toString();
        }


        // 파일 선택
            function selectFile(element, id) {

            const file = element.files[0];
            const filename = element.closest('.file_input').firstElementChild;
                // //고쳐야함
                // if (element.files && element.files[0] &&validFileType(file.name)) {
                //     const reader = new FileReader();
                //     reader.onload = function(e) {
                //         document.getElementsByClassName('preview').src = e.target.result;
                //     };
                //     reader.readAsDataURL(element.files[0]);
                // } else {
                //     document.getElementById('preview').src = "";
                // }

            // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
            if ( !file ) {
                filename.value = '';
                return false;
            }

            // 2. 파일 크기가 10MB를 초과하는 경우
            const fileSize = Math.floor(file.size / 1024 / 1024);
            if (fileSize > 10) {
                alert('10MB 이하의 파일로 업로드해 주세요.');
                filename.value = '';
                element.value = '';
                return false;
            }

            // 3. 파일명 지정
            filename.value = file.name;

            // 4. 삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }
        }
        function validFileType(filename) {
            const fileTypes = ["png", "jpg", "jpeg"];
            return fileTypes.indexOf(filename.substring(filename.lastIndexOf(".")+1, filename.length).toLowerCase()) >= 0;
        }

        // 파일 추가
        function addFile() {
            const fileDiv = document.createElement('div');
            fileDiv.innerHTML =`
                    <div class="file_input">
                        <input type="text" readonly />
                        <label> 첨부파일
                            <input type="file" name="files" onchange="selectFile(this);" />

                        </label>
                    </div>
                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                `;
            document.querySelector('.file_list').appendChild(fileDiv);

            // const imgDiv = document.createElement('div');
            // imgDiv.innerHTML = '<div class="preview"><img/></div>';
            // document.querySelector('.file_list').appendChild(imgDiv);
        }
        //이미지 인덱스 가져오기
        function getIndex(selector) {
            var elem = document.querySelector(selector);
            for(var i = 0; i < elem.parentNode.childNodes.length; i++) {
                if (elem.parentNode.childNodes[i] === elem) {
                    console.log('elemIndex = ' + i);
                }
            }
        }

        // 파일 삭제
        function removeFile(element, id) {

            //삭제할 파일 id 추가
            if (id) {
                removeFileId.add(id);
            }

            const fileAddBtn = element.nextElementSibling;
            if (fileAddBtn) {
                const inputs = element.previousElementSibling.querySelectorAll('input');
                inputs.forEach(input => input.value = '')
                return false;
            }
            element.parentElement.remove();
        }


        //(수정 접근시)파일 조회
        function findAllFile() {

            // 1. 신규 등록/수정 체크
            const id = [[ ${id} ]];

            if ( !id ) {
                console.log("false");
                return false;
            }

            // 2. API 호출
            const response = getJson(`/api/missing/${id}/files`);

            // 3. 로직 종료
            if ( !response.length ) {
                return false;
            }

            // 4. 업로드 영역 추가
            for (let i = 0, len = (response.length - 1); i < len; i++) {
                addFile();
            }

            // 5. 파일 선택 & 삭제 이벤트 재선언 & 파일명 세팅
            const filenameInputs = document.querySelectorAll('.file_list input[type="text"]');
            filenameInputs.forEach((input, i) => {
                const fileInput = input.nextElementSibling.firstElementChild;
                const fileRemoveBtn = input.parentElement.nextElementSibling;
                fileInput.setAttribute('onchange', `selectFile(this, ${response[i].id})`);
                fileRemoveBtn.setAttribute('onclick', `removeFile(this, ${response[i].id})`);
                input.value = response[i].originalName;
            })
        }





        function getJson(uri, params) {

            let json = {}

            $.ajax({
                url : uri,
                type : 'get',
                dataType : 'json',
                data : params,
                async : false,
                success : function (response) {
                    json = response;
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })

            return json;
        }


        /*]]>*/
    </script>

</html>